{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  <div id="home">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-7 px-4">
        <h1 id="homepage-title">{{'platform_title'|trans}}</h1>
        <div class="text-justify">
          <p>TACT est une plateforme de transcription et d'annotation collaborative qui accueille des projets de recherche et permet à chacun d'apporter sa contribution ou de solliciter la communauté de la plateforme.</p>
          <p><strong>Vous voulez participer à un projet ?</strong> Vous pouvez transcrire et annoter des textes originaux, relire et vérifier des transcriptions faites par d'autres internautes, consultez ce <a download class="tact-link" href="{{asset('platform/manuel_contributeur.pdf')}}"> manuel du contributeur </a> et allez <a class="tact-link" href="{{ path('project_list') }}"> explorer les projets</a> !
          </p>
          <p><strong>Vous souhaitez déposer un projet sur TACT ?</strong> N'hésitez pas à nous en faire la demande via <a target="_blank" class="tact-link" href="http://enquete.elan-numerique.fr/index.php/854998?lang=fr">ce formulaire</a>. Vous deviendrez gestionnaire de votre projet TACT, vous pourrez en définir les modalités et gérer les contributions. Nous vous invitons à lire ce <a download class="tact-link" href="{{ asset('platform/manuel_gestionnaire.pdf') }}">manuel du gestionnaire</a> qui vous donnera toutes les informations nécessaires ainsi que la marche à suivre. Bonne lecture !</p>
          <p><strong>Vous pouvez aussi nous contacter</strong> à cette adresse : tact {arobase} univ-grenoble-alpes.fr </p>
        </div>
      </div>
      <div class="col px-4">
        <p>
          <img width=100% src='{{asset('img/TACT_bandeau-500x173.jpeg')}}'>
          <a href="{{ path('project_list') }}" class="btn btn-block btn-warning btn-lg mt-3">
            <i class="fas fa-rocket"></i> {{"project_list"|trans}}
          </a>
          <a target="_blank" href="http://enquete.elan-numerique.fr/index.php/854998?lang=fr" class="btn btn-block btn-success btn-lg mt-3">
            <i class="fas fa-comment"></i> {{"project_ask"|trans}}
          </a>
          <a download href="{{asset('platform/manuel_contributeur.pdf')}}" class="btn btn-block btn-primary btn-lg mt-3">
            <i class="fas fa-book-open"></i> {{"contributor_guide"|trans}}
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
