{% extends "base.html.twig" %}

{% block body %}
  {% set project = media.project %}
  {% include 'project/navigation.html.twig' with {'project': project, 'current': 'project_transcriptions'} %}

  <style>
  {{ project.css ?  project.css | raw : ''}}
  </style>

  <div class="bg-white" id="main-container" data-intro="{{'help1'|trans}}" data-step="1">
    {{ include('media/action-bar.html.twig') }}
    {# OSD + EDITOR #}
    <div class="row">
      <div class="col" data-intro="{{'help2'|trans}}" data-step="2">
        {{ include('media/openseadragon.html.twig') }}
      </div>
      <div class="col-7">
        {{ include('transcribe/tei-editor.html.twig', { 'media': media }) }}
      </div>
    </div>
  </div>

  {# MODAL WITH REVIEW FORM #}
  {{ include('review/form.html.twig') }}

  {% if edit %}
    <input type="hidden" id="log-id" name="log_id" value="{{log.id}}">
  {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/css/intro.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var mode = 'validation';
  </script>
  <script src="{{ asset('build/js/transcription.js') }}"></script>
{% endblock %}
