#tinymce *::before {
  margin: 0 4px 0 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

#tinymce *::after {
  margin: 0 0 0 4px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#tinymce *::before, #tinymce *::after {
  padding: 2px;
  color: white;
  background-color: lightgrey;
  text-decoration: none;
  font-size: smaller;
}

#tinymce *::before, #tinymce tei\:*::before {
  content: "<"attr(data-tag) ">";
}

#tinymce *::after, #tinymce tei\:*::after {
  content: "</"attr(data-tag) ">";
}

#tinymce addSpan::before, #tinymce tei\:addSpan::before {
  content: "<addSpan>";
}

#tinymce addSpan::after, #tinymce tei\:addSpan::after {
  content: "</addSpan>";
}

#tinymce msIdentifier::before, #tinymce tei\:msIdentifier::before {
  content: "<msIdentifier>";
}

#tinymce msIdentifier::after, #tinymce tei\:msIdentifier::after {
  content: "</msIdentifier>";
}

#tinymce zone::before, #tinymce tei\:zone::before {
  content: "<zone>";
}

#tinymce zone::after, #tinymce tei\:zone::after {
  content: "</zone>";
}

#tinymce gram::before, #tinymce tei\:gram::before {
  content: "<gram>";
}

#tinymce gram::after, #tinymce tei\:gram::after {
  content: "</gram>";
}

#tinymce extent::before, #tinymce tei\:extent::before {
  content: "<extent>";
}

#tinymce extent::after, #tinymce tei\:extent::after {
  content: "</extent>";
}

#tinymce phr::before, #tinymce tei\:phr::before {
  content: "<phr>";
}

#tinymce phr::after, #tinymce tei\:phr::after {
  content: "</phr>";
}

#tinymce width::before, #tinymce tei\:width::before {
  content: "<width>";
}

#tinymce width::after, #tinymce tei\:width::after {
  content: "</width>";
}

#tinymce then::before, #tinymce tei\:then::before {
  content: "<then>";
}

#tinymce then::after, #tinymce tei\:then::after {
  content: "</then>";
}

#tinymce lacunaEnd::before, #tinymce tei\:lacunaEnd::before {
  content: "<lacunaEnd>";
}

#tinymce lacunaEnd::after, #tinymce tei\:lacunaEnd::after {
  content: "</lacunaEnd>";
}

#tinymce pRef::before, #tinymce tei\:pRef::before {
  content: "<pRef>";
}

#tinymce pRef::after, #tinymce tei\:pRef::after {
  content: "</pRef>";
}

#tinymce residence::before, #tinymce tei\:residence::before {
  content: "<residence>";
}

#tinymce residence::after, #tinymce tei\:residence::after {
  content: "</residence>";
}

#tinymce add::before, #tinymce tei\:add::before {
  content: "<add>";
}

#tinymce add::after, #tinymce tei\:add::after {
  content: "</add>";
}

#tinymce memberOf::before, #tinymce tei\:memberOf::before {
  content: "<memberOf>";
}

#tinymce memberOf::after, #tinymce tei\:memberOf::after {
  content: "</memberOf>";
}

#tinymce figDesc::before, #tinymce tei\:figDesc::before {
  content: "<figDesc>";
}

#tinymce figDesc::after, #tinymce tei\:figDesc::after {
  content: "</figDesc>";
}

#tinymce speaker::before, #tinymce tei\:speaker::before {
  content: "<speaker>";
}

#tinymce speaker::after, #tinymce tei\:speaker::after {
  content: "</speaker>";
}

#tinymce preparedness::before, #tinymce tei\:preparedness::before {
  content: "<preparedness>";
}

#tinymce preparedness::after, #tinymce tei\:preparedness::after {
  content: "</preparedness>";
}

#tinymce textDesc::before, #tinymce tei\:textDesc::before {
  content: "<textDesc>";
}

#tinymce textDesc::after, #tinymce tei\:textDesc::after {
  content: "</textDesc>";
}

#tinymce glyph::before, #tinymce tei\:glyph::before {
  content: "<glyph>";
}

#tinymce glyph::after, #tinymce tei\:glyph::after {
  content: "</glyph>";
}

#tinymce provenance::before, #tinymce tei\:provenance::before {
  content: "<provenance>";
}

#tinymce provenance::after, #tinymce tei\:provenance::after {
  content: "</provenance>";
}

#tinymce catRef::before, #tinymce tei\:catRef::before {
  content: "<catRef>";
}

#tinymce catRef::after, #tinymce tei\:catRef::after {
  content: "</catRef>";
}

#tinymce div3::before, #tinymce tei\:div3::before {
  content: "<div3>";
}

#tinymce div3::after, #tinymce tei\:div3::after {
  content: "</div3>";
}

#tinymce tagsDecl::before, #tinymce tei\:tagsDecl::before {
  content: "<tagsDecl>";
}

#tinymce tagsDecl::after, #tinymce tei\:tagsDecl::after {
  content: "</tagsDecl>";
}

#tinymce elementRef::before, #tinymce tei\:elementRef::before {
  content: "<elementRef>";
}

#tinymce elementRef::after, #tinymce tei\:elementRef::after {
  content: "</elementRef>";
}

#tinymce custEvent::before, #tinymce tei\:custEvent::before {
  content: "<custEvent>";
}

#tinymce custEvent::after, #tinymce tei\:custEvent::after {
  content: "</custEvent>";
}

#tinymce interpGrp::before, #tinymce tei\:interpGrp::before {
  content: "<interpGrp>";
}

#tinymce interpGrp::after, #tinymce tei\:interpGrp::after {
  content: "</interpGrp>";
}

#tinymce content::before, #tinymce tei\:content::before {
  content: "<content>";
}

#tinymce content::after, #tinymce tei\:content::after {
  content: "</content>";
}

#tinymce particDesc::before, #tinymce tei\:particDesc::before {
  content: "<particDesc>";
}

#tinymce particDesc::after, #tinymce tei\:particDesc::after {
  content: "</particDesc>";
}

#tinymce classes::before, #tinymce tei\:classes::before {
  content: "<classes>";
}

#tinymce classes::after, #tinymce tei\:classes::after {
  content: "</classes>";
}

#tinymce correspContext::before, #tinymce tei\:correspContext::before {
  content: "<correspContext>";
}

#tinymce correspContext::after, #tinymce tei\:correspContext::after {
  content: "</correspContext>";
}

#tinymce classSpec::before, #tinymce tei\:classSpec::before {
  content: "<classSpec>";
}

#tinymce classSpec::after, #tinymce tei\:classSpec::after {
  content: "</classSpec>";
}

#tinymce author::before, #tinymce tei\:author::before {
  content: "<author>";
}

#tinymce author::after, #tinymce tei\:author::after {
  content: "</author>";
}

#tinymce etym::before, #tinymce tei\:etym::before {
  content: "<etym>";
}

#tinymce etym::after, #tinymce tei\:etym::after {
  content: "</etym>";
}

#tinymce dimensions::before, #tinymce tei\:dimensions::before {
  content: "<dimensions>";
}

#tinymce dimensions::after, #tinymce tei\:dimensions::after {
  content: "</dimensions>";
}

#tinymce restore::before, #tinymce tei\:restore::before {
  content: "<restore>";
}

#tinymce restore::after, #tinymce tei\:restore::after {
  content: "</restore>";
}

#tinymce scriptDesc::before, #tinymce tei\:scriptDesc::before {
  content: "<scriptDesc>";
}

#tinymce scriptDesc::after, #tinymce tei\:scriptDesc::after {
  content: "</scriptDesc>";
}

#tinymce musicNotation::before, #tinymce tei\:musicNotation::before {
  content: "<musicNotation>";
}

#tinymce musicNotation::after, #tinymce tei\:musicNotation::after {
  content: "</musicNotation>";
}

#tinymce divGen::before, #tinymce tei\:divGen::before {
  content: "<divGen>";
}

#tinymce divGen::after, #tinymce tei\:divGen::after {
  content: "</divGen>";
}

#tinymce delSpan::before, #tinymce tei\:delSpan::before {
  content: "<delSpan>";
}

#tinymce delSpan::after, #tinymce tei\:delSpan::after {
  content: "</delSpan>";
}

#tinymce fDecl::before, #tinymce tei\:fDecl::before {
  content: "<fDecl>";
}

#tinymce fDecl::after, #tinymce tei\:fDecl::after {
  content: "</fDecl>";
}

#tinymce app::before, #tinymce tei\:app::before {
  content: "<app>";
}

#tinymce app::after, #tinymce tei\:app::after {
  content: "</app>";
}

#tinymce correction::before, #tinymce tei\:correction::before {
  content: "<correction>";
}

#tinymce correction::after, #tinymce tei\:correction::after {
  content: "</correction>";
}

#tinymce string::before, #tinymce tei\:string::before {
  content: "<string>";
}

#tinymce string::after, #tinymce tei\:string::after {
  content: "</string>";
}

#tinymce performance::before, #tinymce tei\:performance::before {
  content: "<performance>";
}

#tinymce performance::after, #tinymce tei\:performance::after {
  content: "</performance>";
}

#tinymce calendar::before, #tinymce tei\:calendar::before {
  content: "<calendar>";
}

#tinymce calendar::after, #tinymce tei\:calendar::after {
  content: "</calendar>";
}

#tinymce category::before, #tinymce tei\:category::before {
  content: "<category>";
}

#tinymce category::after, #tinymce tei\:category::after {
  content: "</category>";
}

#tinymce typeDesc::before, #tinymce tei\:typeDesc::before {
  content: "<typeDesc>";
}

#tinymce typeDesc::after, #tinymce tei\:typeDesc::after {
  content: "</typeDesc>";
}

#tinymce undo::before, #tinymce tei\:undo::before {
  content: "<undo>";
}

#tinymce undo::after, #tinymce tei\:undo::after {
  content: "</undo>";
}

#tinymce opener::before, #tinymce tei\:opener::before {
  content: "<opener>";
}

#tinymce opener::after, #tinymce tei\:opener::after {
  content: "</opener>";
}

#tinymce vNot::before, #tinymce tei\:vNot::before {
  content: "<vNot>";
}

#tinymce vNot::after, #tinymce tei\:vNot::after {
  content: "</vNot>";
}

#tinymce ptr::before, #tinymce tei\:ptr::before {
  content: "<ptr>";
}

#tinymce ptr::after, #tinymce tei\:ptr::after {
  content: "</ptr>";
}

#tinymce handShift::before, #tinymce tei\:handShift::before {
  content: "<handShift>";
}

#tinymce handShift::after, #tinymce tei\:handShift::after {
  content: "</handShift>";
}

#tinymce geoDecl::before, #tinymce tei\:geoDecl::before {
  content: "<geoDecl>";
}

#tinymce geoDecl::after, #tinymce tei\:geoDecl::after {
  content: "</geoDecl>";
}

#tinymce notesStmt::before, #tinymce tei\:notesStmt::before {
  content: "<notesStmt>";
}

#tinymce notesStmt::after, #tinymce tei\:notesStmt::after {
  content: "</notesStmt>";
}

#tinymce said::before, #tinymce tei\:said::before {
  content: "<said>";
}

#tinymce said::after, #tinymce tei\:said::after {
  content: "</said>";
}

#tinymce equiv::before, #tinymce tei\:equiv::before {
  content: "<equiv>";
}

#tinymce equiv::after, #tinymce tei\:equiv::after {
  content: "</equiv>";
}

#tinymce empty::before, #tinymce tei\:empty::before {
  content: "<empty>";
}

#tinymce empty::after, #tinymce tei\:empty::after {
  content: "</empty>";
}

#tinymce factuality::before, #tinymce tei\:factuality::before {
  content: "<factuality>";
}

#tinymce factuality::after, #tinymce tei\:factuality::after {
  content: "</factuality>";
}

#tinymce recordingStmt::before, #tinymce tei\:recordingStmt::before {
  content: "<recordingStmt>";
}

#tinymce recordingStmt::after, #tinymce tei\:recordingStmt::after {
  content: "</recordingStmt>";
}

#tinymce witDetail::before, #tinymce tei\:witDetail::before {
  content: "<witDetail>";
}

#tinymce witDetail::after, #tinymce tei\:witDetail::after {
  content: "</witDetail>";
}

#tinymce del::before, #tinymce tei\:del::before {
  content: "<del>";
}

#tinymce del::after, #tinymce tei\:del::after {
  content: "</del>";
}

#tinymce floatingText::before, #tinymce tei\:floatingText::before {
  content: "<floatingText>";
}

#tinymce floatingText::after, #tinymce tei\:floatingText::after {
  content: "</floatingText>";
}

#tinymce fsDescr::before, #tinymce tei\:fsDescr::before {
  content: "<fsDescr>";
}

#tinymce fsDescr::after, #tinymce tei\:fsDescr::after {
  content: "</fsDescr>";
}

#tinymce foreign::before, #tinymce tei\:foreign::before {
  content: "<foreign>";
}

#tinymce foreign::after, #tinymce tei\:foreign::after {
  content: "</foreign>";
}

#tinymce char::before, #tinymce tei\:char::before {
  content: "<char>";
}

#tinymce char::after, #tinymce tei\:char::after {
  content: "</char>";
}

#tinymce paramList::before, #tinymce tei\:paramList::before {
  content: "<paramList>";
}

#tinymce paramList::after, #tinymce tei\:paramList::after {
  content: "</paramList>";
}

#tinymce resp::before, #tinymce tei\:resp::before {
  content: "<resp>";
}

#tinymce resp::after, #tinymce tei\:resp::after {
  content: "</resp>";
}

#tinymce locusGrp::before, #tinymce tei\:locusGrp::before {
  content: "<locusGrp>";
}

#tinymce locusGrp::after, #tinymce tei\:locusGrp::after {
  content: "</locusGrp>";
}

#tinymce seriesStmt::before, #tinymce tei\:seriesStmt::before {
  content: "<seriesStmt>";
}

#tinymce seriesStmt::after, #tinymce tei\:seriesStmt::after {
  content: "</seriesStmt>";
}

#tinymce distributor::before, #tinymce tei\:distributor::before {
  content: "<distributor>";
}

#tinymce distributor::after, #tinymce tei\:distributor::after {
  content: "</distributor>";
}

#tinymce att::before, #tinymce tei\:att::before {
  content: "<att>";
}

#tinymce att::after, #tinymce tei\:att::after {
  content: "</att>";
}

#tinymce oRef::before, #tinymce tei\:oRef::before {
  content: "<oRef>";
}

#tinymce oRef::after, #tinymce tei\:oRef::after {
  content: "</oRef>";
}

#tinymce metDecl::before, #tinymce tei\:metDecl::before {
  content: "<metDecl>";
}

#tinymce metDecl::after, #tinymce tei\:metDecl::after {
  content: "</metDecl>";
}

#tinymce state::before, #tinymce tei\:state::before {
  content: "<state>";
}

#tinymce state::after, #tinymce tei\:state::after {
  content: "</state>";
}

#tinymce publicationStmt::before, #tinymce tei\:publicationStmt::before {
  content: "<publicationStmt>";
}

#tinymce publicationStmt::after, #tinymce tei\:publicationStmt::after {
  content: "</publicationStmt>";
}

#tinymce div6::before, #tinymce tei\:div6::before {
  content: "<div6>";
}

#tinymce div6::after, #tinymce tei\:div6::after {
  content: "</div6>";
}

#tinymce time::before, #tinymce tei\:time::before {
  content: "<time>";
}

#tinymce time::after, #tinymce tei\:time::after {
  content: "</time>";
}

#tinymce listWit::before, #tinymce tei\:listWit::before {
  content: "<listWit>";
}

#tinymce listWit::after, #tinymce tei\:listWit::after {
  content: "</listWit>";
}

#tinymce attList::before, #tinymce tei\:attList::before {
  content: "<attList>";
}

#tinymce attList::after, #tinymce tei\:attList::after {
  content: "</attList>";
}

#tinymce constraint::before, #tinymce tei\:constraint::before {
  content: "<constraint>";
}

#tinymce constraint::after, #tinymce tei\:constraint::after {
  content: "</constraint>";
}

#tinymce address::before, #tinymce tei\:address::before {
  content: "<address>";
}

#tinymce address::after, #tinymce tei\:address::after {
  content: "</address>";
}

#tinymce lem::before, #tinymce tei\:lem::before {
  content: "<lem>";
}

#tinymce lem::after, #tinymce tei\:lem::after {
  content: "</lem>";
}

#tinymce epigraph::before, #tinymce tei\:epigraph::before {
  content: "<epigraph>";
}

#tinymce epigraph::after, #tinymce tei\:epigraph::after {
  content: "</epigraph>";
}

#tinymce principal::before, #tinymce tei\:principal::before {
  content: "<principal>";
}

#tinymce principal::after, #tinymce tei\:principal::after {
  content: "</principal>";
}

#tinymce additional::before, #tinymce tei\:additional::before {
  content: "<additional>";
}

#tinymce additional::after, #tinymce tei\:additional::after {
  content: "</additional>";
}

#tinymce personGrp::before, #tinymce tei\:personGrp::before {
  content: "<personGrp>";
}

#tinymce personGrp::after, #tinymce tei\:personGrp::after {
  content: "</personGrp>";
}

#tinymce value::before, #tinymce tei\:value::before {
  content: "<value>";
}

#tinymce value::after, #tinymce tei\:value::after {
  content: "</value>";
}

#tinymce supplied::before, #tinymce tei\:supplied::before {
  content: "<supplied>";
}

#tinymce supplied::after, #tinymce tei\:supplied::after {
  content: "</supplied>";
}

#tinymce milestone::before, #tinymce tei\:milestone::before {
  content: "<milestone>";
}

#tinymce milestone::after, #tinymce tei\:milestone::after {
  content: "</milestone>";
}

#tinymce catchwords::before, #tinymce tei\:catchwords::before {
  content: "<catchwords>";
}

#tinymce catchwords::after, #tinymce tei\:catchwords::after {
  content: "</catchwords>";
}

#tinymce docTitle::before, #tinymce tei\:docTitle::before {
  content: "<docTitle>";
}

#tinymce docTitle::after, #tinymce tei\:docTitle::after {
  content: "</docTitle>";
}

#tinymce eLeaf::before, #tinymce tei\:eLeaf::before {
  content: "<eLeaf>";
}

#tinymce eLeaf::after, #tinymce tei\:eLeaf::after {
  content: "</eLeaf>";
}

#tinymce damageSpan::before, #tinymce tei\:damageSpan::before {
  content: "<damageSpan>";
}

#tinymce damageSpan::after, #tinymce tei\:damageSpan::after {
  content: "</damageSpan>";
}

#tinymce constraintSpec::before, #tinymce tei\:constraintSpec::before {
  content: "<constraintSpec>";
}

#tinymce constraintSpec::after, #tinymce tei\:constraintSpec::after {
  content: "</constraintSpec>";
}

#tinymce pc::before, #tinymce tei\:pc::before {
  content: "<pc>";
}

#tinymce pc::after, #tinymce tei\:pc::after {
  content: "</pc>";
}

#tinymce set::before, #tinymce tei\:set::before {
  content: "<set>";
}

#tinymce set::after, #tinymce tei\:set::after {
  content: "</set>";
}

#tinymce model::before, #tinymce tei\:model::before {
  content: "<model>";
}

#tinymce model::after, #tinymce tei\:model::after {
  content: "</model>";
}

#tinymce typeNote::before, #tinymce tei\:typeNote::before {
  content: "<typeNote>";
}

#tinymce typeNote::after, #tinymce tei\:typeNote::after {
  content: "</typeNote>";
}

#tinymce caesura::before, #tinymce tei\:caesura::before {
  content: "<caesura>";
}

#tinymce caesura::after, #tinymce tei\:caesura::after {
  content: "</caesura>";
}

#tinymce sourceDoc::before, #tinymce tei\:sourceDoc::before {
  content: "<sourceDoc>";
}

#tinymce sourceDoc::after, #tinymce tei\:sourceDoc::after {
  content: "</sourceDoc>";
}

#tinymce imprimatur::before, #tinymce tei\:imprimatur::before {
  content: "<imprimatur>";
}

#tinymce imprimatur::after, #tinymce tei\:imprimatur::after {
  content: "</imprimatur>";
}

#tinymce district::before, #tinymce tei\:district::before {
  content: "<district>";
}

#tinymce district::after, #tinymce tei\:district::after {
  content: "</district>";
}

#tinymce taxonomy::before, #tinymce tei\:taxonomy::before {
  content: "<taxonomy>";
}

#tinymce taxonomy::after, #tinymce tei\:taxonomy::after {
  content: "</taxonomy>";
}

#tinymce transpose::before, #tinymce tei\:transpose::before {
  content: "<transpose>";
}

#tinymce transpose::after, #tinymce tei\:transpose::after {
  content: "</transpose>";
}

#tinymce filiation::before, #tinymce tei\:filiation::before {
  content: "<filiation>";
}

#tinymce filiation::after, #tinymce tei\:filiation::after {
  content: "</filiation>";
}

#tinymce front::before, #tinymce tei\:front::before {
  content: "<front>";
}

#tinymce front::after, #tinymce tei\:front::after {
  content: "</front>";
}

#tinymce pb::before, #tinymce tei\:pb::before {
  content: "<pb>";
}

#tinymce pb::after, #tinymce tei\:pb::after {
  content: "</pb>";
}

#tinymce headItem::before, #tinymce tei\:headItem::before {
  content: "<headItem>";
}

#tinymce headItem::after, #tinymce tei\:headItem::after {
  content: "</headItem>";
}

#tinymce measureGrp::before, #tinymce tei\:measureGrp::before {
  content: "<measureGrp>";
}

#tinymce measureGrp::after, #tinymce tei\:measureGrp::after {
  content: "</measureGrp>";
}

#tinymce formula::before, #tinymce tei\:formula::before {
  content: "<formula>";
}

#tinymce formula::after, #tinymce tei\:formula::after {
  content: "</formula>";
}

#tinymce valDesc::before, #tinymce tei\:valDesc::before {
  content: "<valDesc>";
}

#tinymce valDesc::after, #tinymce tei\:valDesc::after {
  content: "</valDesc>";
}

#tinymce setting::before, #tinymce tei\:setting::before {
  content: "<setting>";
}

#tinymce setting::after, #tinymce tei\:setting::after {
  content: "</setting>";
}

#tinymce w::before, #tinymce tei\:w::before {
  content: "<w>";
}

#tinymce w::after, #tinymce tei\:w::after {
  content: "</w>";
}

#tinymce vLabel::before, #tinymce tei\:vLabel::before {
  content: "<vLabel>";
}

#tinymce vLabel::after, #tinymce tei\:vLabel::after {
  content: "</vLabel>";
}

#tinymce variantEncoding::before, #tinymce tei\:variantEncoding::before {
  content: "<variantEncoding>";
}

#tinymce variantEncoding::after, #tinymce tei\:variantEncoding::after {
  content: "</variantEncoding>";
}

#tinymce sex::before, #tinymce tei\:sex::before {
  content: "<sex>";
}

#tinymce sex::after, #tinymce tei\:sex::after {
  content: "</sex>";
}

#tinymce xenoData::before, #tinymce tei\:xenoData::before {
  content: "<xenoData>";
}

#tinymce xenoData::after, #tinymce tei\:xenoData::after {
  content: "</xenoData>";
}

#tinymce dictScrap::before, #tinymce tei\:dictScrap::before {
  content: "<dictScrap>";
}

#tinymce dictScrap::after, #tinymce tei\:dictScrap::after {
  content: "</dictScrap>";
}

#tinymce vAlt::before, #tinymce tei\:vAlt::before {
  content: "<vAlt>";
}

#tinymce vAlt::after, #tinymce tei\:vAlt::after {
  content: "</vAlt>";
}

#tinymce cRefPattern::before, #tinymce tei\:cRefPattern::before {
  content: "<cRefPattern>";
}

#tinymce cRefPattern::after, #tinymce tei\:cRefPattern::after {
  content: "</cRefPattern>";
}

#tinymce normalization::before, #tinymce tei\:normalization::before {
  content: "<normalization>";
}

#tinymce normalization::after, #tinymce tei\:normalization::after {
  content: "</normalization>";
}

#tinymce ab::before, #tinymce tei\:ab::before {
  content: "<ab>";
}

#tinymce ab::after, #tinymce tei\:ab::after {
  content: "</ab>";
}

#tinymce gloss::before, #tinymce tei\:gloss::before {
  content: "<gloss>";
}

#tinymce gloss::after, #tinymce tei\:gloss::after {
  content: "</gloss>";
}

#tinymce byline::before, #tinymce tei\:byline::before {
  content: "<byline>";
}

#tinymce byline::after, #tinymce tei\:byline::after {
  content: "</byline>";
}

#tinymce persona::before, #tinymce tei\:persona::before {
  content: "<persona>";
}

#tinymce persona::after, #tinymce tei\:persona::after {
  content: "</persona>";
}

#tinymce gramGrp::before, #tinymce tei\:gramGrp::before {
  content: "<gramGrp>";
}

#tinymce gramGrp::after, #tinymce tei\:gramGrp::after {
  content: "</gramGrp>";
}

#tinymce msItem::before, #tinymce tei\:msItem::before {
  content: "<msItem>";
}

#tinymce msItem::after, #tinymce tei\:msItem::after {
  content: "</msItem>";
}

#tinymce moduleRef::before, #tinymce tei\:moduleRef::before {
  content: "<moduleRef>";
}

#tinymce moduleRef::after, #tinymce tei\:moduleRef::after {
  content: "</moduleRef>";
}

#tinymce foliation::before, #tinymce tei\:foliation::before {
  content: "<foliation>";
}

#tinymce foliation::after, #tinymce tei\:foliation::after {
  content: "</foliation>";
}

#tinymce docEdition::before, #tinymce tei\:docEdition::before {
  content: "<docEdition>";
}

#tinymce docEdition::after, #tinymce tei\:docEdition::after {
  content: "</docEdition>";
}

#tinymce correspDesc::before, #tinymce tei\:correspDesc::before {
  content: "<correspDesc>";
}

#tinymce correspDesc::after, #tinymce tei\:correspDesc::after {
  content: "</correspDesc>";
}

#tinymce bibl::before, #tinymce tei\:bibl::before {
  content: "<bibl>";
}

#tinymce bibl::after, #tinymce tei\:bibl::after {
  content: "</bibl>";
}

#tinymce specDesc::before, #tinymce tei\:specDesc::before {
  content: "<specDesc>";
}

#tinymce specDesc::after, #tinymce tei\:specDesc::after {
  content: "</specDesc>";
}

#tinymce geo::before, #tinymce tei\:geo::before {
  content: "<geo>";
}

#tinymce geo::after, #tinymce tei\:geo::after {
  content: "</geo>";
}

#tinymce actor::before, #tinymce tei\:actor::before {
  content: "<actor>";
}

#tinymce actor::after, #tinymce tei\:actor::after {
  content: "</actor>";
}

#tinymce charProp::before, #tinymce tei\:charProp::before {
  content: "<charProp>";
}

#tinymce charProp::after, #tinymce tei\:charProp::after {
  content: "</charProp>";
}

#tinymce titlePart::before, #tinymce tei\:titlePart::before {
  content: "<titlePart>";
}

#tinymce titlePart::after, #tinymce tei\:titlePart::after {
  content: "</titlePart>";
}

#tinymce elementSpec::before, #tinymce tei\:elementSpec::before {
  content: "<elementSpec>";
}

#tinymce elementSpec::after, #tinymce tei\:elementSpec::after {
  content: "</elementSpec>";
}

#tinymce default::before, #tinymce tei\:default::before {
  content: "<default>";
}

#tinymce default::after, #tinymce tei\:default::after {
  content: "</default>";
}

#tinymce body::before, #tinymce tei\:body::before {
  content: "<body>";
}

#tinymce body::after, #tinymce tei\:body::after {
  content: "</body>";
}

#tinymce witStart::before, #tinymce tei\:witStart::before {
  content: "<witStart>";
}

#tinymce witStart::after, #tinymce tei\:witStart::after {
  content: "</witStart>";
}

#tinymce surfaceGrp::before, #tinymce tei\:surfaceGrp::before {
  content: "<surfaceGrp>";
}

#tinymce surfaceGrp::after, #tinymce tei\:surfaceGrp::after {
  content: "</surfaceGrp>";
}

#tinymce tree::before, #tinymce tei\:tree::before {
  content: "<tree>";
}

#tinymce tree::after, #tinymce tei\:tree::after {
  content: "</tree>";
}

#tinymce cit::before, #tinymce tei\:cit::before {
  content: "<cit>";
}

#tinymce cit::after, #tinymce tei\:cit::after {
  content: "</cit>";
}

#tinymce nym::before, #tinymce tei\:nym::before {
  content: "<nym>";
}

#tinymce nym::after, #tinymce tei\:nym::after {
  content: "</nym>";
}

#tinymce handDesc::before, #tinymce tei\:handDesc::before {
  content: "<handDesc>";
}

#tinymce handDesc::after, #tinymce tei\:handDesc::after {
  content: "</handDesc>";
}

#tinymce forename::before, #tinymce tei\:forename::before {
  content: "<forename>";
}

#tinymce forename::after, #tinymce tei\:forename::after {
  content: "</forename>";
}

#tinymce gb::before, #tinymce tei\:gb::before {
  content: "<gb>";
}

#tinymce gb::after, #tinymce tei\:gb::after {
  content: "</gb>";
}

#tinymce offset::before, #tinymce tei\:offset::before {
  content: "<offset>";
}

#tinymce offset::after, #tinymce tei\:offset::after {
  content: "</offset>";
}

#tinymce role::before, #tinymce tei\:role::before {
  content: "<role>";
}

#tinymce role::after, #tinymce tei\:role::after {
  content: "</role>";
}

#tinymce namespace::before, #tinymce tei\:namespace::before {
  content: "<namespace>";
}

#tinymce namespace::after, #tinymce tei\:namespace::after {
  content: "</namespace>";
}

#tinymce death::before, #tinymce tei\:death::before {
  content: "<death>";
}

#tinymce death::after, #tinymce tei\:death::after {
  content: "</death>";
}

#tinymce change::before, #tinymce tei\:change::before {
  content: "<change>";
}

#tinymce change::after, #tinymce tei\:change::after {
  content: "</change>";
}

#tinymce colloc::before, #tinymce tei\:colloc::before {
  content: "<colloc>";
}

#tinymce colloc::after, #tinymce tei\:colloc::after {
  content: "</colloc>";
}

#tinymce bicond::before, #tinymce tei\:bicond::before {
  content: "<bicond>";
}

#tinymce bicond::after, #tinymce tei\:bicond::after {
  content: "</bicond>";
}

#tinymce if::before, #tinymce tei\:if::before {
  content: "<if>";
}

#tinymce if::after, #tinymce tei\:if::after {
  content: "</if>";
}

#tinymce listBibl::before, #tinymce tei\:listBibl::before {
  content: "<listBibl>";
}

#tinymce listBibl::after, #tinymce tei\:listBibl::after {
  content: "</listBibl>";
}

#tinymce msPart::before, #tinymce tei\:msPart::before {
  content: "<msPart>";
}

#tinymce msPart::after, #tinymce tei\:msPart::after {
  content: "</msPart>";
}

#tinymce figure::before, #tinymce tei\:figure::before {
  content: "<figure>";
}

#tinymce figure::after, #tinymce tei\:figure::after {
  content: "</figure>";
}

#tinymce sense::before, #tinymce tei\:sense::before {
  content: "<sense>";
}

#tinymce sense::after, #tinymce tei\:sense::after {
  content: "</sense>";
}

#tinymce subc::before, #tinymce tei\:subc::before {
  content: "<subc>";
}

#tinymce subc::after, #tinymce tei\:subc::after {
  content: "</subc>";
}

#tinymce superEntry::before, #tinymce tei\:superEntry::before {
  content: "<superEntry>";
}

#tinymce superEntry::after, #tinymce tei\:superEntry::after {
  content: "</superEntry>";
}

#tinymce trailer::before, #tinymce tei\:trailer::before {
  content: "<trailer>";
}

#tinymce trailer::after, #tinymce tei\:trailer::after {
  content: "</trailer>";
}

#tinymce samplingDecl::before, #tinymce tei\:samplingDecl::before {
  content: "<samplingDecl>";
}

#tinymce samplingDecl::after, #tinymce tei\:samplingDecl::after {
  content: "</samplingDecl>";
}

#tinymce ref::before, #tinymce tei\:ref::before {
  content: "<ref>";
}

#tinymce ref::after, #tinymce tei\:ref::after {
  content: "</ref>";
}

#tinymce postscript::before, #tinymce tei\:postscript::before {
  content: "<postscript>";
}

#tinymce postscript::after, #tinymce tei\:postscript::after {
  content: "</postscript>";
}

#tinymce link::before, #tinymce tei\:link::before {
  content: "<link>";
}

#tinymce link::after, #tinymce tei\:link::after {
  content: "</link>";
}

#tinymce anyElement::before, #tinymce tei\:anyElement::before {
  content: "<anyElement>";
}

#tinymce anyElement::after, #tinymce tei\:anyElement::after {
  content: "</anyElement>";
}

#tinymce alt::before, #tinymce tei\:alt::before {
  content: "<alt>";
}

#tinymce alt::after, #tinymce tei\:alt::after {
  content: "</alt>";
}

#tinymce prologue::before, #tinymce tei\:prologue::before {
  content: "<prologue>";
}

#tinymce prologue::after, #tinymce tei\:prologue::after {
  content: "</prologue>";
}

#tinymce nationality::before, #tinymce tei\:nationality::before {
  content: "<nationality>";
}

#tinymce nationality::after, #tinymce tei\:nationality::after {
  content: "</nationality>";
}

#tinymce domain::before, #tinymce tei\:domain::before {
  content: "<domain>";
}

#tinymce domain::after, #tinymce tei\:domain::after {
  content: "</domain>";
}

#tinymce case::before, #tinymce tei\:case::before {
  content: "<case>";
}

#tinymce case::after, #tinymce tei\:case::after {
  content: "</case>";
}

#tinymce sourceDesc::before, #tinymce tei\:sourceDesc::before {
  content: "<sourceDesc>";
}

#tinymce sourceDesc::after, #tinymce tei\:sourceDesc::after {
  content: "</sourceDesc>";
}

#tinymce surface::before, #tinymce tei\:surface::before {
  content: "<surface>";
}

#tinymce surface::after, #tinymce tei\:surface::after {
  content: "</surface>";
}

#tinymce div2::before, #tinymce tei\:div2::before {
  content: "<div2>";
}

#tinymce div2::after, #tinymce tei\:div2::after {
  content: "</div2>";
}

#tinymce source::before, #tinymce tei\:source::before {
  content: "<source>";
}

#tinymce source::after, #tinymce tei\:source::after {
  content: "</source>";
}

#tinymce vMerge::before, #tinymce tei\:vMerge::before {
  content: "<vMerge>";
}

#tinymce vMerge::after, #tinymce tei\:vMerge::after {
  content: "</vMerge>";
}

#tinymce div4::before, #tinymce tei\:div4::before {
  content: "<div4>";
}

#tinymce div4::after, #tinymce tei\:div4::after {
  content: "</div4>";
}

#tinymce appInfo::before, #tinymce tei\:appInfo::before {
  content: "<appInfo>";
}

#tinymce appInfo::after, #tinymce tei\:appInfo::after {
  content: "</appInfo>";
}

#tinymce attRef::before, #tinymce tei\:attRef::before {
  content: "<attRef>";
}

#tinymce attRef::after, #tinymce tei\:attRef::after {
  content: "</attRef>";
}

#tinymce docDate::before, #tinymce tei\:docDate::before {
  content: "<docDate>";
}

#tinymce docDate::after, #tinymce tei\:docDate::after {
  content: "</docDate>";
}

#tinymce listNym::before, #tinymce tei\:listNym::before {
  content: "<listNym>";
}

#tinymce listNym::after, #tinymce tei\:listNym::after {
  content: "</listNym>";
}

#tinymce biblFull::before, #tinymce tei\:biblFull::before {
  content: "<biblFull>";
}

#tinymce biblFull::after, #tinymce tei\:biblFull::after {
  content: "</biblFull>";
}

#tinymce msName::before, #tinymce tei\:msName::before {
  content: "<msName>";
}

#tinymce msName::after, #tinymce tei\:msName::after {
  content: "</msName>";
}

#tinymce geogName::before, #tinymce tei\:geogName::before {
  content: "<geogName>";
}

#tinymce geogName::after, #tinymce tei\:geogName::after {
  content: "</geogName>";
}

#tinymce sp::before, #tinymce tei\:sp::before {
  content: "<sp>";
}

#tinymce sp::after, #tinymce tei\:sp::after {
  content: "</sp>";
}

#tinymce measure::before, #tinymce tei\:measure::before {
  content: "<measure>";
}

#tinymce measure::after, #tinymce tei\:measure::after {
  content: "</measure>";
}

#tinymce camera::before, #tinymce tei\:camera::before {
  content: "<camera>";
}

#tinymce camera::after, #tinymce tei\:camera::after {
  content: "</camera>";
}

#tinymce cb::before, #tinymce tei\:cb::before {
  content: "<cb>";
}

#tinymce cb::after, #tinymce tei\:cb::after {
  content: "</cb>";
}

#tinymce num::before, #tinymce tei\:num::before {
  content: "<num>";
}

#tinymce num::after, #tinymce tei\:num::after {
  content: "</num>";
}

#tinymce pause::before, #tinymce tei\:pause::before {
  content: "<pause>";
}

#tinymce pause::after, #tinymce tei\:pause::after {
  content: "</pause>";
}

#tinymce activity::before, #tinymce tei\:activity::before {
  content: "<activity>";
}

#tinymce activity::after, #tinymce tei\:activity::after {
  content: "</activity>";
}

#tinymce refState::before, #tinymce tei\:refState::before {
  content: "<refState>";
}

#tinymce refState::after, #tinymce tei\:refState::after {
  content: "</refState>";
}

#tinymce desc::before, #tinymce tei\:desc::before {
  content: "<desc>";
}

#tinymce desc::after, #tinymce tei\:desc::after {
  content: "</desc>";
}

#tinymce item::before, #tinymce tei\:item::before {
  content: "<item>";
}

#tinymce item::after, #tinymce tei\:item::after {
  content: "</item>";
}

#tinymce adminInfo::before, #tinymce tei\:adminInfo::before {
  content: "<adminInfo>";
}

#tinymce adminInfo::after, #tinymce tei\:adminInfo::after {
  content: "</adminInfo>";
}

#tinymce kinesic::before, #tinymce tei\:kinesic::before {
  content: "<kinesic>";
}

#tinymce kinesic::after, #tinymce tei\:kinesic::after {
  content: "</kinesic>";
}

#tinymce channel::before, #tinymce tei\:channel::before {
  content: "<channel>";
}

#tinymce channel::after, #tinymce tei\:channel::after {
  content: "</channel>";
}

#tinymce def::before, #tinymce tei\:def::before {
  content: "<def>";
}

#tinymce def::after, #tinymce tei\:def::after {
  content: "</def>";
}

#tinymce moduleSpec::before, #tinymce tei\:moduleSpec::before {
  content: "<moduleSpec>";
}

#tinymce moduleSpec::after, #tinymce tei\:moduleSpec::after {
  content: "</moduleSpec>";
}

#tinymce pron::before, #tinymce tei\:pron::before {
  content: "<pron>";
}

#tinymce pron::after, #tinymce tei\:pron::after {
  content: "</pron>";
}

#tinymce relatedItem::before, #tinymce tei\:relatedItem::before {
  content: "<relatedItem>";
}

#tinymce relatedItem::after, #tinymce tei\:relatedItem::after {
  content: "</relatedItem>";
}

#tinymce rendition::before, #tinymce tei\:rendition::before {
  content: "<rendition>";
}

#tinymce rendition::after, #tinymce tei\:rendition::after {
  content: "</rendition>";
}

#tinymce material::before, #tinymce tei\:material::before {
  content: "<material>";
}

#tinymce material::after, #tinymce tei\:material::after {
  content: "</material>";
}

#tinymce analytic::before, #tinymce tei\:analytic::before {
  content: "<analytic>";
}

#tinymce analytic::after, #tinymce tei\:analytic::after {
  content: "</analytic>";
}

#tinymce titlePage::before, #tinymce tei\:titlePage::before {
  content: "<titlePage>";
}

#tinymce titlePage::after, #tinymce tei\:titlePage::after {
  content: "</titlePage>";
}

#tinymce s::before, #tinymce tei\:s::before {
  content: "<s>";
}

#tinymce s::after, #tinymce tei\:s::after {
  content: "</s>";
}

#tinymce seal::before, #tinymce tei\:seal::before {
  content: "<seal>";
}

#tinymce seal::after, #tinymce tei\:seal::after {
  content: "</seal>";
}

#tinymce teiHeader::before, #tinymce tei\:teiHeader::before {
  content: "<teiHeader>";
}

#tinymce teiHeader::after, #tinymce tei\:teiHeader::after {
  content: "</teiHeader>";
}

#tinymce form::before, #tinymce tei\:form::before {
  content: "<form>";
}

#tinymce form::after, #tinymce tei\:form::after {
  content: "</form>";
}

#tinymce langKnown::before, #tinymce tei\:langKnown::before {
  content: "<langKnown>";
}

#tinymce langKnown::after, #tinymce tei\:langKnown::after {
  content: "</langKnown>";
}

#tinymce witness::before, #tinymce tei\:witness::before {
  content: "<witness>";
}

#tinymce witness::after, #tinymce tei\:witness::after {
  content: "</witness>";
}

#tinymce annotationBlock::before, #tinymce tei\:annotationBlock::before {
  content: "<annotationBlock>";
}

#tinymce annotationBlock::after, #tinymce tei\:annotationBlock::after {
  content: "</annotationBlock>";
}

#tinymce postCode::before, #tinymce tei\:postCode::before {
  content: "<postCode>";
}

#tinymce postCode::after, #tinymce tei\:postCode::after {
  content: "</postCode>";
}

#tinymce acquisition::before, #tinymce tei\:acquisition::before {
  content: "<acquisition>";
}

#tinymce acquisition::after, #tinymce tei\:acquisition::after {
  content: "</acquisition>";
}

#tinymce purpose::before, #tinymce tei\:purpose::before {
  content: "<purpose>";
}

#tinymce purpose::after, #tinymce tei\:purpose::after {
  content: "</purpose>";
}

#tinymce tns::before, #tinymce tei\:tns::before {
  content: "<tns>";
}

#tinymce tns::after, #tinymce tei\:tns::after {
  content: "</tns>";
}

#tinymce head::before, #tinymce tei\:head::before {
  content: "<head>";
}

#tinymce head::after, #tinymce tei\:head::after {
  content: "</head>";
}

#tinymce lacunaStart::before, #tinymce tei\:lacunaStart::before {
  content: "<lacunaStart>";
}

#tinymce lacunaStart::after, #tinymce tei\:lacunaStart::after {
  content: "</lacunaStart>";
}

#tinymce quotation::before, #tinymce tei\:quotation::before {
  content: "<quotation>";
}

#tinymce quotation::after, #tinymce tei\:quotation::after {
  content: "</quotation>";
}

#tinymce lg::before, #tinymce tei\:lg::before {
  content: "<lg>";
}

#tinymce lg::after, #tinymce tei\:lg::after {
  content: "</lg>";
}

#tinymce placeName::before, #tinymce tei\:placeName::before {
  content: "<placeName>";
}

#tinymce placeName::after, #tinymce tei\:placeName::after {
  content: "</placeName>";
}

#tinymce supportDesc::before, #tinymce tei\:supportDesc::before {
  content: "<supportDesc>";
}

#tinymce supportDesc::after, #tinymce tei\:supportDesc::after {
  content: "</supportDesc>";
}

#tinymce addName::before, #tinymce tei\:addName::before {
  content: "<addName>";
}

#tinymce addName::after, #tinymce tei\:addName::after {
  content: "</addName>";
}

#tinymce paramSpec::before, #tinymce tei\:paramSpec::before {
  content: "<paramSpec>";
}

#tinymce paramSpec::after, #tinymce tei\:paramSpec::after {
  content: "</paramSpec>";
}

#tinymce castGroup::before, #tinymce tei\:castGroup::before {
  content: "<castGroup>";
}

#tinymce castGroup::after, #tinymce tei\:castGroup::after {
  content: "</castGroup>";
}

#tinymce xr::before, #tinymce tei\:xr::before {
  content: "<xr>";
}

#tinymce xr::after, #tinymce tei\:xr::after {
  content: "</xr>";
}

#tinymce mapping::before, #tinymce tei\:mapping::before {
  content: "<mapping>";
}

#tinymce mapping::after, #tinymce tei\:mapping::after {
  content: "</mapping>";
}

#tinymce textLang::before, #tinymce tei\:textLang::before {
  content: "<textLang>";
}

#tinymce textLang::after, #tinymce tei\:textLang::after {
  content: "</textLang>";
}

#tinymce hyphenation::before, #tinymce tei\:hyphenation::before {
  content: "<hyphenation>";
}

#tinymce hyphenation::after, #tinymce tei\:hyphenation::after {
  content: "</hyphenation>";
}

#tinymce rdgGrp::before, #tinymce tei\:rdgGrp::before {
  content: "<rdgGrp>";
}

#tinymce rdgGrp::after, #tinymce tei\:rdgGrp::after {
  content: "</rdgGrp>";
}

#tinymce fsConstraints::before, #tinymce tei\:fsConstraints::before {
  content: "<fsConstraints>";
}

#tinymce fsConstraints::after, #tinymce tei\:fsConstraints::after {
  content: "</fsConstraints>";
}

#tinymce div5::before, #tinymce tei\:div5::before {
  content: "<div5>";
}

#tinymce div5::after, #tinymce tei\:div5::after {
  content: "</div5>";
}

#tinymce TEI::before, #tinymce tei\:TEI::before {
  content: "<TEI>";
}

#tinymce TEI::after, #tinymce tei\:TEI::after {
  content: "</TEI>";
}

#tinymce derivation::before, #tinymce tei\:derivation::before {
  content: "<derivation>";
}

#tinymce derivation::after, #tinymce tei\:derivation::after {
  content: "</derivation>";
}

#tinymce linkGrp::before, #tinymce tei\:linkGrp::before {
  content: "<linkGrp>";
}

#tinymce linkGrp::after, #tinymce tei\:linkGrp::after {
  content: "</linkGrp>";
}

#tinymce dataSpec::before, #tinymce tei\:dataSpec::before {
  content: "<dataSpec>";
}

#tinymce dataSpec::after, #tinymce tei\:dataSpec::after {
  content: "</dataSpec>";
}

#tinymce sic::before, #tinymce tei\:sic::before {
  content: "<sic>";
}

#tinymce sic::after, #tinymce tei\:sic::after {
  content: "</sic>";
}

#tinymce textNode::before, #tinymce tei\:textNode::before {
  content: "<textNode>";
}

#tinymce textNode::after, #tinymce tei\:textNode::after {
  content: "</textNode>";
}

#tinymce media::before, #tinymce tei\:media::before {
  content: "<media>";
}

#tinymce media::after, #tinymce tei\:media::after {
  content: "</media>";
}

#tinymce abbr::before, #tinymce tei\:abbr::before {
  content: "<abbr>";
}

#tinymce abbr::after, #tinymce tei\:abbr::after {
  content: "</abbr>";
}

#tinymce lb::before, #tinymce tei\:lb::before {
  content: "<lb>";
}

#tinymce lb::after, #tinymce tei\:lb::after {
  content: "</lb>";
}

#tinymce charDecl::before, #tinymce tei\:charDecl::before {
  content: "<charDecl>";
}

#tinymce charDecl::after, #tinymce tei\:charDecl::after {
  content: "</charDecl>";
}

#tinymce interaction::before, #tinymce tei\:interaction::before {
  content: "<interaction>";
}

#tinymce interaction::after, #tinymce tei\:interaction::after {
  content: "</interaction>";
}

#tinymce cell::before, #tinymce tei\:cell::before {
  content: "<cell>";
}

#tinymce cell::after, #tinymce tei\:cell::after {
  content: "</cell>";
}

#tinymce mentioned::before, #tinymce tei\:mentioned::before {
  content: "<mentioned>";
}

#tinymce mentioned::after, #tinymce tei\:mentioned::after {
  content: "</mentioned>";
}

#tinymce signatures::before, #tinymce tei\:signatures::before {
  content: "<signatures>";
}

#tinymce signatures::after, #tinymce tei\:signatures::after {
  content: "</signatures>";
}

#tinymce interpretation::before, #tinymce tei\:interpretation::before {
  content: "<interpretation>";
}

#tinymce interpretation::after, #tinymce tei\:interpretation::after {
  content: "</interpretation>";
}

#tinymce m::before, #tinymce tei\:m::before {
  content: "<m>";
}

#tinymce m::after, #tinymce tei\:m::after {
  content: "</m>";
}

#tinymce unclear::before, #tinymce tei\:unclear::before {
  content: "<unclear>";
}

#tinymce unclear::after, #tinymce tei\:unclear::after {
  content: "</unclear>";
}

#tinymce name::before, #tinymce tei\:name::before {
  content: "<name>";
}

#tinymce name::after, #tinymce tei\:name::after {
  content: "</name>";
}

#tinymce summary::before, #tinymce tei\:summary::before {
  content: "<summary>";
}

#tinymce summary::after, #tinymce tei\:summary::after {
  content: "</summary>";
}

#tinymce cl::before, #tinymce tei\:cl::before {
  content: "<cl>";
}

#tinymce cl::after, #tinymce tei\:cl::after {
  content: "</cl>";
}

#tinymce metSym::before, #tinymce tei\:metSym::before {
  content: "<metSym>";
}

#tinymce metSym::after, #tinymce tei\:metSym::after {
  content: "</metSym>";
}

#tinymce u::before, #tinymce tei\:u::before {
  content: "<u>";
}

#tinymce u::after, #tinymce tei\:u::after {
  content: "</u>";
}

#tinymce emph::before, #tinymce tei\:emph::before {
  content: "<emph>";
}

#tinymce emph::after, #tinymce tei\:emph::after {
  content: "</emph>";
}

#tinymce repository::before, #tinymce tei\:repository::before {
  content: "<repository>";
}

#tinymce repository::after, #tinymce tei\:repository::after {
  content: "</repository>";
}

#tinymce hi::before, #tinymce tei\:hi::before {
  content: "<hi>";
}

#tinymce hi::after, #tinymce tei\:hi::after {
  content: "</hi>";
}

#tinymce handNote::before, #tinymce tei\:handNote::before {
  content: "<handNote>";
}

#tinymce handNote::after, #tinymce tei\:handNote::after {
  content: "</handNote>";
}

#tinymce layout::before, #tinymce tei\:layout::before {
  content: "<layout>";
}

#tinymce layout::after, #tinymce tei\:layout::after {
  content: "</layout>";
}

#tinymce reg::before, #tinymce tei\:reg::before {
  content: "<reg>";
}

#tinymce reg::after, #tinymce tei\:reg::after {
  content: "</reg>";
}

#tinymce language::before, #tinymce tei\:language::before {
  content: "<language>";
}

#tinymce language::after, #tinymce tei\:language::after {
  content: "</language>";
}

#tinymce headLabel::before, #tinymce tei\:headLabel::before {
  content: "<headLabel>";
}

#tinymce headLabel::after, #tinymce tei\:headLabel::after {
  content: "</headLabel>";
}

#tinymce authority::before, #tinymce tei\:authority::before {
  content: "<authority>";
}

#tinymce authority::after, #tinymce tei\:authority::after {
  content: "</authority>";
}

#tinymce layoutDesc::before, #tinymce tei\:layoutDesc::before {
  content: "<layoutDesc>";
}

#tinymce layoutDesc::after, #tinymce tei\:layoutDesc::after {
  content: "</layoutDesc>";
}

#tinymce pubPlace::before, #tinymce tei\:pubPlace::before {
  content: "<pubPlace>";
}

#tinymce pubPlace::after, #tinymce tei\:pubPlace::after {
  content: "</pubPlace>";
}

#tinymce precision::before, #tinymce tei\:precision::before {
  content: "<precision>";
}

#tinymce precision::after, #tinymce tei\:precision::after {
  content: "</precision>";
}

#tinymce gi::before, #tinymce tei\:gi::before {
  content: "<gi>";
}

#tinymce gi::after, #tinymce tei\:gi::after {
  content: "</gi>";
}

#tinymce titleStmt::before, #tinymce tei\:titleStmt::before {
  content: "<titleStmt>";
}

#tinymce titleStmt::after, #tinymce tei\:titleStmt::after {
  content: "</titleStmt>";
}

#tinymce listRelation::before, #tinymce tei\:listRelation::before {
  content: "<listRelation>";
}

#tinymce listRelation::after, #tinymce tei\:listRelation::after {
  content: "</listRelation>";
}

#tinymce dateline::before, #tinymce tei\:dateline::before {
  content: "<dateline>";
}

#tinymce dateline::after, #tinymce tei\:dateline::after {
  content: "</dateline>";
}

#tinymce classRef::before, #tinymce tei\:classRef::before {
  content: "<classRef>";
}

#tinymce classRef::after, #tinymce tei\:classRef::after {
  content: "</classRef>";
}

#tinymce vocal::before, #tinymce tei\:vocal::before {
  content: "<vocal>";
}

#tinymce vocal::after, #tinymce tei\:vocal::after {
  content: "</vocal>";
}

#tinymce datatype::before, #tinymce tei\:datatype::before {
  content: "<datatype>";
}

#tinymce datatype::after, #tinymce tei\:datatype::after {
  content: "</datatype>";
}

#tinymce corr::before, #tinymce tei\:corr::before {
  content: "<corr>";
}

#tinymce corr::after, #tinymce tei\:corr::after {
  content: "</corr>";
}

#tinymce unit::before, #tinymce tei\:unit::before {
  content: "<unit>";
}

#tinymce unit::after, #tinymce tei\:unit::after {
  content: "</unit>";
}

#tinymce bindingDesc::before, #tinymce tei\:bindingDesc::before {
  content: "<bindingDesc>";
}

#tinymce bindingDesc::after, #tinymce tei\:bindingDesc::after {
  content: "</bindingDesc>";
}

#tinymce region::before, #tinymce tei\:region::before {
  content: "<region>";
}

#tinymce region::after, #tinymce tei\:region::after {
  content: "</region>";
}

#tinymce relation::before, #tinymce tei\:relation::before {
  content: "<relation>";
}

#tinymce relation::after, #tinymce tei\:relation::after {
  content: "</relation>";
}

#tinymce rhyme::before, #tinymce tei\:rhyme::before {
  content: "<rhyme>";
}

#tinymce rhyme::after, #tinymce tei\:rhyme::after {
  content: "</rhyme>";
}

#tinymce notatedMusic::before, #tinymce tei\:notatedMusic::before {
  content: "<notatedMusic>";
}

#tinymce notatedMusic::after, #tinymce tei\:notatedMusic::after {
  content: "</notatedMusic>";
}

#tinymce projectDesc::before, #tinymce tei\:projectDesc::before {
  content: "<projectDesc>";
}

#tinymce projectDesc::after, #tinymce tei\:projectDesc::after {
  content: "</projectDesc>";
}

#tinymce fLib::before, #tinymce tei\:fLib::before {
  content: "<fLib>";
}

#tinymce fLib::after, #tinymce tei\:fLib::after {
  content: "</fLib>";
}

#tinymce rdg::before, #tinymce tei\:rdg::before {
  content: "<rdg>";
}

#tinymce rdg::after, #tinymce tei\:rdg::after {
  content: "</rdg>";
}

#tinymce anchor::before, #tinymce tei\:anchor::before {
  content: "<anchor>";
}

#tinymce anchor::after, #tinymce tei\:anchor::after {
  content: "</anchor>";
}

#tinymce witEnd::before, #tinymce tei\:witEnd::before {
  content: "<witEnd>";
}

#tinymce witEnd::after, #tinymce tei\:witEnd::after {
  content: "</witEnd>";
}

#tinymce broadcast::before, #tinymce tei\:broadcast::before {
  content: "<broadcast>";
}

#tinymce broadcast::after, #tinymce tei\:broadcast::after {
  content: "</broadcast>";
}

#tinymce writing::before, #tinymce tei\:writing::before {
  content: "<writing>";
}

#tinymce writing::after, #tinymce tei\:writing::after {
  content: "</writing>";
}

#tinymce pos::before, #tinymce tei\:pos::before {
  content: "<pos>";
}

#tinymce pos::after, #tinymce tei\:pos::after {
  content: "</pos>";
}

#tinymce editor::before, #tinymce tei\:editor::before {
  content: "<editor>";
}

#tinymce editor::after, #tinymce tei\:editor::after {
  content: "</editor>";
}

#tinymce root::before, #tinymce tei\:root::before {
  content: "<root>";
}

#tinymce root::after, #tinymce tei\:root::after {
  content: "</root>";
}

#tinymce recording::before, #tinymce tei\:recording::before {
  content: "<recording>";
}

#tinymce recording::after, #tinymce tei\:recording::after {
  content: "</recording>";
}

#tinymce schemaSpec::before, #tinymce tei\:schemaSpec::before {
  content: "<schemaSpec>";
}

#tinymce schemaSpec::after, #tinymce tei\:schemaSpec::after {
  content: "</schemaSpec>";
}

#tinymce altIdent::before, #tinymce tei\:altIdent::before {
  content: "<altIdent>";
}

#tinymce altIdent::after, #tinymce tei\:altIdent::after {
  content: "</altIdent>";
}

#tinymce castList::before, #tinymce tei\:castList::before {
  content: "<castList>";
}

#tinymce castList::after, #tinymce tei\:castList::after {
  content: "</castList>";
}

#tinymce label::before, #tinymce tei\:label::before {
  content: "<label>";
}

#tinymce label::after, #tinymce tei\:label::after {
  content: "</label>";
}

#tinymce fileDesc::before, #tinymce tei\:fileDesc::before {
  content: "<fileDesc>";
}

#tinymce fileDesc::after, #tinymce tei\:fileDesc::after {
  content: "</fileDesc>";
}

#tinymce surname::before, #tinymce tei\:surname::before {
  content: "<surname>";
}

#tinymce surname::after, #tinymce tei\:surname::after {
  content: "</surname>";
}

#tinymce imprint::before, #tinymce tei\:imprint::before {
  content: "<imprint>";
}

#tinymce imprint::after, #tinymce tei\:imprint::after {
  content: "</imprint>";
}

#tinymce calendarDesc::before, #tinymce tei\:calendarDesc::before {
  content: "<calendarDesc>";
}

#tinymce calendarDesc::after, #tinymce tei\:calendarDesc::after {
  content: "</calendarDesc>";
}

#tinymce equipment::before, #tinymce tei\:equipment::before {
  content: "<equipment>";
}

#tinymce equipment::after, #tinymce tei\:equipment::after {
  content: "</equipment>";
}

#tinymce div1::before, #tinymce tei\:div1::before {
  content: "<div1>";
}

#tinymce div1::after, #tinymce tei\:div1::after {
  content: "</div1>";
}

#tinymce idno::before, #tinymce tei\:idno::before {
  content: "<idno>";
}

#tinymce idno::after, #tinymce tei\:idno::after {
  content: "</idno>";
}

#tinymce defaultVal::before, #tinymce tei\:defaultVal::before {
  content: "<defaultVal>";
}

#tinymce defaultVal::after, #tinymce tei\:defaultVal::after {
  content: "</defaultVal>";
}

#tinymce recordHist::before, #tinymce tei\:recordHist::before {
  content: "<recordHist>";
}

#tinymce recordHist::after, #tinymce tei\:recordHist::after {
  content: "</recordHist>";
}

#tinymce respons::before, #tinymce tei\:respons::before {
  content: "<respons>";
}

#tinymce respons::after, #tinymce tei\:respons::after {
  content: "</respons>";
}

#tinymce biblStruct::before, #tinymce tei\:biblStruct::before {
  content: "<biblStruct>";
}

#tinymce biblStruct::after, #tinymce tei\:biblStruct::after {
  content: "</biblStruct>";
}

#tinymce occupation::before, #tinymce tei\:occupation::before {
  content: "<occupation>";
}

#tinymce occupation::after, #tinymce tei\:occupation::after {
  content: "</occupation>";
}

#tinymce biblScope::before, #tinymce tei\:biblScope::before {
  content: "<biblScope>";
}

#tinymce biblScope::after, #tinymce tei\:biblScope::after {
  content: "</biblScope>";
}

#tinymce incipit::before, #tinymce tei\:incipit::before {
  content: "<incipit>";
}

#tinymce incipit::after, #tinymce tei\:incipit::after {
  content: "</incipit>";
}

#tinymce secl::before, #tinymce tei\:secl::before {
  content: "<secl>";
}

#tinymce secl::after, #tinymce tei\:secl::after {
  content: "</secl>";
}

#tinymce transcriptionDesc::before, #tinymce tei\:transcriptionDesc::before {
  content: "<transcriptionDesc>";
}

#tinymce transcriptionDesc::after, #tinymce tei\:transcriptionDesc::after {
  content: "</transcriptionDesc>";
}

#tinymce orth::before, #tinymce tei\:orth::before {
  content: "<orth>";
}

#tinymce orth::after, #tinymce tei\:orth::after {
  content: "</orth>";
}

#tinymce remarks::before, #tinymce tei\:remarks::before {
  content: "<remarks>";
}

#tinymce remarks::after, #tinymce tei\:remarks::after {
  content: "</remarks>";
}

#tinymce charName::before, #tinymce tei\:charName::before {
  content: "<charName>";
}

#tinymce charName::after, #tinymce tei\:charName::after {
  content: "</charName>";
}

#tinymce facsimile::before, #tinymce tei\:facsimile::before {
  content: "<facsimile>";
}

#tinymce facsimile::after, #tinymce tei\:facsimile::after {
  content: "</facsimile>";
}

#tinymce soCalled::before, #tinymce tei\:soCalled::before {
  content: "<soCalled>";
}

#tinymce soCalled::after, #tinymce tei\:soCalled::after {
  content: "</soCalled>";
}

#tinymce prefixDef::before, #tinymce tei\:prefixDef::before {
  content: "<prefixDef>";
}

#tinymce prefixDef::after, #tinymce tei\:prefixDef::after {
  content: "</prefixDef>";
}

#tinymce attDef::before, #tinymce tei\:attDef::before {
  content: "<attDef>";
}

#tinymce attDef::after, #tinymce tei\:attDef::after {
  content: "</attDef>";
}

#tinymce depth::before, #tinymce tei\:depth::before {
  content: "<depth>";
}

#tinymce depth::after, #tinymce tei\:depth::after {
  content: "</depth>";
}

#tinymce additions::before, #tinymce tei\:additions::before {
  content: "<additions>";
}

#tinymce additions::after, #tinymce tei\:additions::after {
  content: "</additions>";
}

#tinymce listForest::before, #tinymce tei\:listForest::before {
  content: "<listForest>";
}

#tinymce listForest::after, #tinymce tei\:listForest::after {
  content: "</listForest>";
}

#tinymce trait::before, #tinymce tei\:trait::before {
  content: "<trait>";
}

#tinymce trait::after, #tinymce tei\:trait::after {
  content: "</trait>";
}

#tinymce hom::before, #tinymce tei\:hom::before {
  content: "<hom>";
}

#tinymce hom::after, #tinymce tei\:hom::after {
  content: "</hom>";
}

#tinymce stdVals::before, #tinymce tei\:stdVals::before {
  content: "<stdVals>";
}

#tinymce stdVals::after, #tinymce tei\:stdVals::after {
  content: "</stdVals>";
}

#tinymce floruit::before, #tinymce tei\:floruit::before {
  content: "<floruit>";
}

#tinymce floruit::after, #tinymce tei\:floruit::after {
  content: "</floruit>";
}

#tinymce triangle::before, #tinymce tei\:triangle::before {
  content: "<triangle>";
}

#tinymce triangle::after, #tinymce tei\:triangle::after {
  content: "</triangle>";
}

#tinymce teiCorpus::before, #tinymce tei\:teiCorpus::before {
  content: "<teiCorpus>";
}

#tinymce teiCorpus::after, #tinymce tei\:teiCorpus::after {
  content: "</teiCorpus>";
}

#tinymce date::before, #tinymce tei\:date::before {
  content: "<date>";
}

#tinymce date::after, #tinymce tei\:date::after {
  content: "</date>";
}

#tinymce p::before, #tinymce tei\:p::before {
  content: "<p>";
}

#tinymce p::after, #tinymce tei\:p::after {
  content: "</p>";
}

#tinymce docAuthor::before, #tinymce tei\:docAuthor::before {
  content: "<docAuthor>";
}

#tinymce docAuthor::after, #tinymce tei\:docAuthor::after {
  content: "</docAuthor>";
}

#tinymce refsDecl::before, #tinymce tei\:refsDecl::before {
  content: "<refsDecl>";
}

#tinymce refsDecl::after, #tinymce tei\:refsDecl::after {
  content: "</refsDecl>";
}

#tinymce listChange::before, #tinymce tei\:listChange::before {
  content: "<listChange>";
}

#tinymce listChange::after, #tinymce tei\:listChange::after {
  content: "</listChange>";
}

#tinymce listPlace::before, #tinymce tei\:listPlace::before {
  content: "<listPlace>";
}

#tinymce listPlace::after, #tinymce tei\:listPlace::after {
  content: "</listPlace>";
}

#tinymce quote::before, #tinymce tei\:quote::before {
  content: "<quote>";
}

#tinymce quote::after, #tinymce tei\:quote::after {
  content: "</quote>";
}

#tinymce gen::before, #tinymce tei\:gen::before {
  content: "<gen>";
}

#tinymce gen::after, #tinymce tei\:gen::after {
  content: "</gen>";
}

#tinymce secFol::before, #tinymce tei\:secFol::before {
  content: "<secFol>";
}

#tinymce secFol::after, #tinymce tei\:secFol::after {
  content: "</secFol>";
}

#tinymce mod::before, #tinymce tei\:mod::before {
  content: "<mod>";
}

#tinymce mod::after, #tinymce tei\:mod::after {
  content: "</mod>";
}

#tinymce encodingDesc::before, #tinymce tei\:encodingDesc::before {
  content: "<encodingDesc>";
}

#tinymce encodingDesc::after, #tinymce tei\:encodingDesc::after {
  content: "</encodingDesc>";
}

#tinymce roleDesc::before, #tinymce tei\:roleDesc::before {
  content: "<roleDesc>";
}

#tinymce roleDesc::after, #tinymce tei\:roleDesc::after {
  content: "</roleDesc>";
}

#tinymce scriptNote::before, #tinymce tei\:scriptNote::before {
  content: "<scriptNote>";
}

#tinymce scriptNote::after, #tinymce tei\:scriptNote::after {
  content: "</scriptNote>";
}

#tinymce textClass::before, #tinymce tei\:textClass::before {
  content: "<textClass>";
}

#tinymce textClass::after, #tinymce tei\:textClass::after {
  content: "</textClass>";
}

#tinymce fsDecl::before, #tinymce tei\:fsDecl::before {
  content: "<fsDecl>";
}

#tinymce fsDecl::after, #tinymce tei\:fsDecl::after {
  content: "</fsDecl>";
}

#tinymce publisher::before, #tinymce tei\:publisher::before {
  content: "<publisher>";
}

#tinymce publisher::after, #tinymce tei\:publisher::after {
  content: "</publisher>";
}

#tinymce finalRubric::before, #tinymce tei\:finalRubric::before {
  content: "<finalRubric>";
}

#tinymce finalRubric::after, #tinymce tei\:finalRubric::after {
  content: "</finalRubric>";
}

#tinymce surplus::before, #tinymce tei\:surplus::before {
  content: "<surplus>";
}

#tinymce surplus::after, #tinymce tei\:surplus::after {
  content: "</surplus>";
}

#tinymce dim::before, #tinymce tei\:dim::before {
  content: "<dim>";
}

#tinymce dim::after, #tinymce tei\:dim::after {
  content: "</dim>";
}

#tinymce distinct::before, #tinymce tei\:distinct::before {
  content: "<distinct>";
}

#tinymce distinct::after, #tinymce tei\:distinct::after {
  content: "</distinct>";
}

#tinymce node::before, #tinymce tei\:node::before {
  content: "<node>";
}

#tinymce node::after, #tinymce tei\:node::after {
  content: "</node>";
}

#tinymce stamp::before, #tinymce tei\:stamp::before {
  content: "<stamp>";
}

#tinymce stamp::after, #tinymce tei\:stamp::after {
  content: "</stamp>";
}

#tinymce collection::before, #tinymce tei\:collection::before {
  content: "<collection>";
}

#tinymce collection::after, #tinymce tei\:collection::after {
  content: "</collection>";
}

#tinymce when::before, #tinymce tei\:when::before {
  content: "<when>";
}

#tinymce when::after, #tinymce tei\:when::after {
  content: "</when>";
}

#tinymce q::before, #tinymce tei\:q::before {
  content: "<q>";
}

#tinymce q::after, #tinymce tei\:q::after {
  content: "</q>";
}

#tinymce heraldry::before, #tinymce tei\:heraldry::before {
  content: "<heraldry>";
}

#tinymce heraldry::after, #tinymce tei\:heraldry::after {
  content: "</heraldry>";
}

#tinymce shift::before, #tinymce tei\:shift::before {
  content: "<shift>";
}

#tinymce shift::after, #tinymce tei\:shift::after {
  content: "</shift>";
}

#tinymce lbl::before, #tinymce tei\:lbl::before {
  content: "<lbl>";
}

#tinymce lbl::after, #tinymce tei\:lbl::after {
  content: "</lbl>";
}

#tinymce graphic::before, #tinymce tei\:graphic::before {
  content: "<graphic>";
}

#tinymce graphic::after, #tinymce tei\:graphic::after {
  content: "</graphic>";
}

#tinymce lang::before, #tinymce tei\:lang::before {
  content: "<lang>";
}

#tinymce lang::after, #tinymce tei\:lang::after {
  content: "</lang>";
}

#tinymce modelSequence::before, #tinymce tei\:modelSequence::before {
  content: "<modelSequence>";
}

#tinymce modelSequence::after, #tinymce tei\:modelSequence::after {
  content: "</modelSequence>";
}

#tinymce revisionDesc::before, #tinymce tei\:revisionDesc::before {
  content: "<revisionDesc>";
}

#tinymce revisionDesc::after, #tinymce tei\:revisionDesc::after {
  content: "</revisionDesc>";
}

#tinymce iNode::before, #tinymce tei\:iNode::before {
  content: "<iNode>";
}

#tinymce iNode::after, #tinymce tei\:iNode::after {
  content: "</iNode>";
}

#tinymce tech::before, #tinymce tei\:tech::before {
  content: "<tech>";
}

#tinymce tech::after, #tinymce tei\:tech::after {
  content: "</tech>";
}

#tinymce sequence::before, #tinymce tei\:sequence::before {
  content: "<sequence>";
}

#tinymce sequence::after, #tinymce tei\:sequence::after {
  content: "</sequence>";
}

#tinymce vDefault::before, #tinymce tei\:vDefault::before {
  content: "<vDefault>";
}

#tinymce vDefault::after, #tinymce tei\:vDefault::after {
  content: "</vDefault>";
}

#tinymce origPlace::before, #tinymce tei\:origPlace::before {
  content: "<origPlace>";
}

#tinymce origPlace::after, #tinymce tei\:origPlace::after {
  content: "</origPlace>";
}

#tinymce localName::before, #tinymce tei\:localName::before {
  content: "<localName>";
}

#tinymce localName::after, #tinymce tei\:localName::after {
  content: "</localName>";
}

#tinymce msDesc::before, #tinymce tei\:msDesc::before {
  content: "<msDesc>";
}

#tinymce msDesc::after, #tinymce tei\:msDesc::after {
  content: "</msDesc>";
}

#tinymce signed::before, #tinymce tei\:signed::before {
  content: "<signed>";
}

#tinymce signed::after, #tinymce tei\:signed::after {
  content: "</signed>";
}

#tinymce catDesc::before, #tinymce tei\:catDesc::before {
  content: "<catDesc>";
}

#tinymce catDesc::after, #tinymce tei\:catDesc::after {
  content: "</catDesc>";
}

#tinymce listPrefixDef::before, #tinymce tei\:listPrefixDef::before {
  content: "<listPrefixDef>";
}

#tinymce listPrefixDef::after, #tinymce tei\:listPrefixDef::after {
  content: "</listPrefixDef>";
}

#tinymce terrain::before, #tinymce tei\:terrain::before {
  content: "<terrain>";
}

#tinymce terrain::after, #tinymce tei\:terrain::after {
  content: "</terrain>";
}

#tinymce postBox::before, #tinymce tei\:postBox::before {
  content: "<postBox>";
}

#tinymce postBox::after, #tinymce tei\:postBox::after {
  content: "</postBox>";
}

#tinymce div::before, #tinymce tei\:div::before {
  content: "<div>";
}

#tinymce div::after, #tinymce tei\:div::after {
  content: "</div>";
}

#tinymce term::before, #tinymce tei\:term::before {
  content: "<term>";
}

#tinymce term::after, #tinymce tei\:term::after {
  content: "</term>";
}

#tinymce country::before, #tinymce tei\:country::before {
  content: "<country>";
}

#tinymce country::after, #tinymce tei\:country::after {
  content: "</country>";
}

#tinymce am::before, #tinymce tei\:am::before {
  content: "<am>";
}

#tinymce am::after, #tinymce tei\:am::after {
  content: "</am>";
}

#tinymce stress::before, #tinymce tei\:stress::before {
  content: "<stress>";
}

#tinymce stress::after, #tinymce tei\:stress::after {
  content: "</stress>";
}

#tinymce settingDesc::before, #tinymce tei\:settingDesc::before {
  content: "<settingDesc>";
}

#tinymce settingDesc::after, #tinymce tei\:settingDesc::after {
  content: "</settingDesc>";
}

#tinymce altIdentifier::before, #tinymce tei\:altIdentifier::before {
  content: "<altIdentifier>";
}

#tinymce altIdentifier::after, #tinymce tei\:altIdentifier::after {
  content: "</altIdentifier>";
}

#tinymce age::before, #tinymce tei\:age::before {
  content: "<age>";
}

#tinymce age::after, #tinymce tei\:age::after {
  content: "</age>";
}

#tinymce ex::before, #tinymce tei\:ex::before {
  content: "<ex>";
}

#tinymce ex::after, #tinymce tei\:ex::after {
  content: "</ex>";
}

#tinymce gap::before, #tinymce tei\:gap::before {
  content: "<gap>";
}

#tinymce gap::after, #tinymce tei\:gap::after {
  content: "</gap>";
}

#tinymce msContents::before, #tinymce tei\:msContents::before {
  content: "<msContents>";
}

#tinymce msContents::after, #tinymce tei\:msContents::after {
  content: "</msContents>";
}

#tinymce rubric::before, #tinymce tei\:rubric::before {
  content: "<rubric>";
}

#tinymce rubric::after, #tinymce tei\:rubric::after {
  content: "</rubric>";
}

#tinymce fsdDecl::before, #tinymce tei\:fsdDecl::before {
  content: "<fsdDecl>";
}

#tinymce fsdDecl::after, #tinymce tei\:fsdDecl::after {
  content: "</fsdDecl>";
}

#tinymce monogr::before, #tinymce tei\:monogr::before {
  content: "<monogr>";
}

#tinymce monogr::after, #tinymce tei\:monogr::after {
  content: "</monogr>";
}

#tinymce climate::before, #tinymce tei\:climate::before {
  content: "<climate>";
}

#tinymce climate::after, #tinymce tei\:climate::after {
  content: "</climate>";
}

#tinymce height::before, #tinymce tei\:height::before {
  content: "<height>";
}

#tinymce height::after, #tinymce tei\:height::after {
  content: "</height>";
}

#tinymce faith::before, #tinymce tei\:faith::before {
  content: "<faith>";
}

#tinymce faith::after, #tinymce tei\:faith::after {
  content: "</faith>";
}

#tinymce place::before, #tinymce tei\:place::before {
  content: "<place>";
}

#tinymce place::after, #tinymce tei\:place::after {
  content: "</place>";
}

#tinymce listRef::before, #tinymce tei\:listRef::before {
  content: "<listRef>";
}

#tinymce listRef::after, #tinymce tei\:listRef::after {
  content: "</listRef>";
}

#tinymce segmentation::before, #tinymce tei\:segmentation::before {
  content: "<segmentation>";
}

#tinymce segmentation::after, #tinymce tei\:segmentation::after {
  content: "</segmentation>";
}

#tinymce argument::before, #tinymce tei\:argument::before {
  content: "<argument>";
}

#tinymce argument::after, #tinymce tei\:argument::after {
  content: "</argument>";
}

#tinymce orgName::before, #tinymce tei\:orgName::before {
  content: "<orgName>";
}

#tinymce orgName::after, #tinymce tei\:orgName::after {
  content: "</orgName>";
}

#tinymce location::before, #tinymce tei\:location::before {
  content: "<location>";
}

#tinymce location::after, #tinymce tei\:location::after {
  content: "</location>";
}

#tinymce fw::before, #tinymce tei\:fw::before {
  content: "<fw>";
}

#tinymce fw::after, #tinymce tei\:fw::after {
  content: "</fw>";
}

#tinymce abstract::before, #tinymce tei\:abstract::before {
  content: "<abstract>";
}

#tinymce abstract::after, #tinymce tei\:abstract::after {
  content: "</abstract>";
}

#tinymce macroSpec::before, #tinymce tei\:macroSpec::before {
  content: "<macroSpec>";
}

#tinymce macroSpec::after, #tinymce tei\:macroSpec::after {
  content: "</macroSpec>";
}

#tinymce custodialHist::before, #tinymce tei\:custodialHist::before {
  content: "<custodialHist>";
}

#tinymce custodialHist::after, #tinymce tei\:custodialHist::after {
  content: "</custodialHist>";
}

#tinymce geogFeat::before, #tinymce tei\:geogFeat::before {
  content: "<geogFeat>";
}

#tinymce geogFeat::after, #tinymce tei\:geogFeat::after {
  content: "</geogFeat>";
}

#tinymce note::before, #tinymce tei\:note::before {
  content: "<note>";
}

#tinymce note::after, #tinymce tei\:note::after {
  content: "</note>";
}

#tinymce bloc::before, #tinymce tei\:bloc::before {
  content: "<bloc>";
}

#tinymce bloc::after, #tinymce tei\:bloc::after {
  content: "</bloc>";
}

#tinymce path::before, #tinymce tei\:path::before {
  content: "<path>";
}

#tinymce path::after, #tinymce tei\:path::after {
  content: "</path>";
}

#tinymce altGrp::before, #tinymce tei\:altGrp::before {
  content: "<altGrp>";
}

#tinymce altGrp::after, #tinymce tei\:altGrp::after {
  content: "</altGrp>";
}

#tinymce sealDesc::before, #tinymce tei\:sealDesc::before {
  content: "<sealDesc>";
}

#tinymce sealDesc::after, #tinymce tei\:sealDesc::after {
  content: "</sealDesc>";
}

#tinymce caption::before, #tinymce tei\:caption::before {
  content: "<caption>";
}

#tinymce caption::after, #tinymce tei\:caption::after {
  content: "</caption>";
}

#tinymce funder::before, #tinymce tei\:funder::before {
  content: "<funder>";
}

#tinymce funder::after, #tinymce tei\:funder::after {
  content: "</funder>";
}

#tinymce listEvent::before, #tinymce tei\:listEvent::before {
  content: "<listEvent>";
}

#tinymce listEvent::after, #tinymce tei\:listEvent::after {
  content: "</listEvent>";
}

#tinymce langUsage::before, #tinymce tei\:langUsage::before {
  content: "<langUsage>";
}

#tinymce langUsage::after, #tinymce tei\:langUsage::after {
  content: "</langUsage>";
}

#tinymce redo::before, #tinymce tei\:redo::before {
  content: "<redo>";
}

#tinymce redo::after, #tinymce tei\:redo::after {
  content: "</redo>";
}

#tinymce stage::before, #tinymce tei\:stage::before {
  content: "<stage>";
}

#tinymce stage::after, #tinymce tei\:stage::after {
  content: "</stage>";
}

#tinymce decoNote::before, #tinymce tei\:decoNote::before {
  content: "<decoNote>";
}

#tinymce decoNote::after, #tinymce tei\:decoNote::after {
  content: "</decoNote>";
}

#tinymce listTranspose::before, #tinymce tei\:listTranspose::before {
  content: "<listTranspose>";
}

#tinymce listTranspose::after, #tinymce tei\:listTranspose::after {
  content: "</listTranspose>";
}

#tinymce licence::before, #tinymce tei\:licence::before {
  content: "<licence>";
}

#tinymce licence::after, #tinymce tei\:licence::after {
  content: "</licence>";
}

#tinymce education::before, #tinymce tei\:education::before {
  content: "<education>";
}

#tinymce education::after, #tinymce tei\:education::after {
  content: "</education>";
}

#tinymce availability::before, #tinymce tei\:availability::before {
  content: "<availability>";
}

#tinymce availability::after, #tinymce tei\:availability::after {
  content: "</availability>";
}

#tinymce incident::before, #tinymce tei\:incident::before {
  content: "<incident>";
}

#tinymce incident::after, #tinymce tei\:incident::after {
  content: "</incident>";
}

#tinymce entryFree::before, #tinymce tei\:entryFree::before {
  content: "<entryFree>";
}

#tinymce entryFree::after, #tinymce tei\:entryFree::after {
  content: "</entryFree>";
}

#tinymce birth::before, #tinymce tei\:birth::before {
  content: "<birth>";
}

#tinymce birth::after, #tinymce tei\:birth::after {
  content: "</birth>";
}

#tinymce expan::before, #tinymce tei\:expan::before {
  content: "<expan>";
}

#tinymce expan::after, #tinymce tei\:expan::after {
  content: "</expan>";
}

#tinymce modelGrp::before, #tinymce tei\:modelGrp::before {
  content: "<modelGrp>";
}

#tinymce modelGrp::after, #tinymce tei\:modelGrp::after {
  content: "</modelGrp>";
}

#tinymce accMat::before, #tinymce tei\:accMat::before {
  content: "<accMat>";
}

#tinymce accMat::after, #tinymce tei\:accMat::after {
  content: "</accMat>";
}

#tinymce joinGrp::before, #tinymce tei\:joinGrp::before {
  content: "<joinGrp>";
}

#tinymce joinGrp::after, #tinymce tei\:joinGrp::after {
  content: "</joinGrp>";
}

#tinymce socecStatus::before, #tinymce tei\:socecStatus::before {
  content: "<socecStatus>";
}

#tinymce socecStatus::after, #tinymce tei\:socecStatus::after {
  content: "</socecStatus>";
}

#tinymce span::before, #tinymce tei\:span::before {
  content: "<span>";
}

#tinymce span::after, #tinymce tei\:span::after {
  content: "</span>";
}

#tinymce macroRef::before, #tinymce tei\:macroRef::before {
  content: "<macroRef>";
}

#tinymce macroRef::after, #tinymce tei\:macroRef::after {
  content: "</macroRef>";
}

#tinymce alternate::before, #tinymce tei\:alternate::before {
  content: "<alternate>";
}

#tinymce alternate::after, #tinymce tei\:alternate::after {
  content: "</alternate>";
}

#tinymce outputRendition::before, #tinymce tei\:outputRendition::before {
  content: "<outputRendition>";
}

#tinymce outputRendition::after, #tinymce tei\:outputRendition::after {
  content: "</outputRendition>";
}

#tinymce graph::before, #tinymce tei\:graph::before {
  content: "<graph>";
}

#tinymce graph::after, #tinymce tei\:graph::after {
  content: "</graph>";
}

#tinymce specGrpRef::before, #tinymce tei\:specGrpRef::before {
  content: "<specGrpRef>";
}

#tinymce specGrpRef::after, #tinymce tei\:specGrpRef::after {
  content: "</specGrpRef>";
}

#tinymce respStmt::before, #tinymce tei\:respStmt::before {
  content: "<respStmt>";
}

#tinymce respStmt::after, #tinymce tei\:respStmt::after {
  content: "</respStmt>";
}

#tinymce damage::before, #tinymce tei\:damage::before {
  content: "<damage>";
}

#tinymce damage::after, #tinymce tei\:damage::after {
  content: "</damage>";
}

#tinymce closer::before, #tinymce tei\:closer::before {
  content: "<closer>";
}

#tinymce closer::after, #tinymce tei\:closer::after {
  content: "</closer>";
}

#tinymce affiliation::before, #tinymce tei\:affiliation::before {
  content: "<affiliation>";
}

#tinymce affiliation::after, #tinymce tei\:affiliation::after {
  content: "</affiliation>";
}

#tinymce dataRef::before, #tinymce tei\:dataRef::before {
  content: "<dataRef>";
}

#tinymce dataRef::after, #tinymce tei\:dataRef::after {
  content: "</dataRef>";
}

#tinymce index::before, #tinymce tei\:index::before {
  content: "<index>";
}

#tinymce index::after, #tinymce tei\:index::after {
  content: "</index>";
}

#tinymce roleName::before, #tinymce tei\:roleName::before {
  content: "<roleName>";
}

#tinymce roleName::after, #tinymce tei\:roleName::after {
  content: "</roleName>";
}

#tinymce addrLine::before, #tinymce tei\:addrLine::before {
  content: "<addrLine>";
}

#tinymce addrLine::after, #tinymce tei\:addrLine::after {
  content: "</addrLine>";
}

#tinymce citedRange::before, #tinymce tei\:citedRange::before {
  content: "<citedRange>";
}

#tinymce citedRange::after, #tinymce tei\:citedRange::after {
  content: "</citedRange>";
}

#tinymce mood::before, #tinymce tei\:mood::before {
  content: "<mood>";
}

#tinymce mood::after, #tinymce tei\:mood::after {
  content: "</mood>";
}

#tinymce choice::before, #tinymce tei\:choice::before {
  content: "<choice>";
}

#tinymce choice::after, #tinymce tei\:choice::after {
  content: "</choice>";
}

#tinymce specList::before, #tinymce tei\:specList::before {
  content: "<specList>";
}

#tinymce specList::after, #tinymce tei\:specList::after {
  content: "</specList>";
}

#tinymce creation::before, #tinymce tei\:creation::before {
  content: "<creation>";
}

#tinymce creation::after, #tinymce tei\:creation::after {
  content: "</creation>";
}

#tinymce table::before, #tinymce tei\:table::before {
  content: "<table>";
}

#tinymce table::after, #tinymce tei\:table::after {
  content: "</table>";
}

#tinymce scriptStmt::before, #tinymce tei\:scriptStmt::before {
  content: "<scriptStmt>";
}

#tinymce scriptStmt::after, #tinymce tei\:scriptStmt::after {
  content: "</scriptStmt>";
}

#tinymce orig::before, #tinymce tei\:orig::before {
  content: "<orig>";
}

#tinymce orig::after, #tinymce tei\:orig::after {
  content: "</orig>";
}

#tinymce objectType::before, #tinymce tei\:objectType::before {
  content: "<objectType>";
}

#tinymce objectType::after, #tinymce tei\:objectType::after {
  content: "</objectType>";
}

#tinymce substJoin::before, #tinymce tei\:substJoin::before {
  content: "<substJoin>";
}

#tinymce substJoin::after, #tinymce tei\:substJoin::after {
  content: "</substJoin>";
}

#tinymce div7::before, #tinymce tei\:div7::before {
  content: "<div7>";
}

#tinymce div7::after, #tinymce tei\:div7::after {
  content: "</div7>";
}

#tinymce text::before, #tinymce tei\:text::before {
  content: "<text>";
}

#tinymce text::after, #tinymce tei\:text::after {
  content: "</text>";
}

#tinymce fvLib::before, #tinymce tei\:fvLib::before {
  content: "<fvLib>";
}

#tinymce fvLib::after, #tinymce tei\:fvLib::after {
  content: "</fvLib>";
}

#tinymce l::before, #tinymce tei\:l::before {
  content: "<l>";
}

#tinymce l::after, #tinymce tei\:l::after {
  content: "</l>";
}

#tinymce unicodeName::before, #tinymce tei\:unicodeName::before {
  content: "<unicodeName>";
}

#tinymce unicodeName::after, #tinymce tei\:unicodeName::after {
  content: "</unicodeName>";
}

#tinymce colophon::before, #tinymce tei\:colophon::before {
  content: "<colophon>";
}

#tinymce colophon::after, #tinymce tei\:colophon::after {
  content: "</colophon>";
}

#tinymce spGrp::before, #tinymce tei\:spGrp::before {
  content: "<spGrp>";
}

#tinymce spGrp::after, #tinymce tei\:spGrp::after {
  content: "</spGrp>";
}

#tinymce physDesc::before, #tinymce tei\:physDesc::before {
  content: "<physDesc>";
}

#tinymce physDesc::after, #tinymce tei\:physDesc::after {
  content: "</physDesc>";
}

#tinymce keywords::before, #tinymce tei\:keywords::before {
  content: "<keywords>";
}

#tinymce keywords::after, #tinymce tei\:keywords::after {
  content: "</keywords>";
}

#tinymce tag::before, #tinymce tei\:tag::before {
  content: "<tag>";
}

#tinymce tag::after, #tinymce tei\:tag::after {
  content: "</tag>";
}

#tinymce metamark::before, #tinymce tei\:metamark::before {
  content: "<metamark>";
}

#tinymce metamark::after, #tinymce tei\:metamark::after {
  content: "</metamark>";
}

#tinymce vRange::before, #tinymce tei\:vRange::before {
  content: "<vRange>";
}

#tinymce vRange::after, #tinymce tei\:vRange::after {
  content: "</vRange>";
}

#tinymce nameLink::before, #tinymce tei\:nameLink::before {
  content: "<nameLink>";
}

#tinymce nameLink::after, #tinymce tei\:nameLink::after {
  content: "</nameLink>";
}

#tinymce editionStmt::before, #tinymce tei\:editionStmt::before {
  content: "<editionStmt>";
}

#tinymce editionStmt::after, #tinymce tei\:editionStmt::after {
  content: "</editionStmt>";
}

#tinymce leaf::before, #tinymce tei\:leaf::before {
  content: "<leaf>";
}

#tinymce leaf::after, #tinymce tei\:leaf::after {
  content: "</leaf>";
}

#tinymce settlement::before, #tinymce tei\:settlement::before {
  content: "<settlement>";
}

#tinymce settlement::after, #tinymce tei\:settlement::after {
  content: "</settlement>";
}

#tinymce glyphName::before, #tinymce tei\:glyphName::before {
  content: "<glyphName>";
}

#tinymce glyphName::after, #tinymce tei\:glyphName::after {
  content: "</glyphName>";
}

#tinymce back::before, #tinymce tei\:back::before {
  content: "<back>";
}

#tinymce back::after, #tinymce tei\:back::after {
  content: "</back>";
}

#tinymce explicit::before, #tinymce tei\:explicit::before {
  content: "<explicit>";
}

#tinymce explicit::after, #tinymce tei\:explicit::after {
  content: "</explicit>";
}

#tinymce locale::before, #tinymce tei\:locale::before {
  content: "<locale>";
}

#tinymce locale::after, #tinymce tei\:locale::after {
  content: "</locale>";
}

#tinymce valList::before, #tinymce tei\:valList::before {
  content: "<valList>";
}

#tinymce valList::after, #tinymce tei\:valList::after {
  content: "</valList>";
}

#tinymce arc::before, #tinymce tei\:arc::before {
  content: "<arc>";
}

#tinymce arc::after, #tinymce tei\:arc::after {
  content: "</arc>";
}

#tinymce eTree::before, #tinymce tei\:eTree::before {
  content: "<eTree>";
}

#tinymce eTree::after, #tinymce tei\:eTree::after {
  content: "</eTree>";
}

#tinymce hyph::before, #tinymce tei\:hyph::before {
  content: "<hyph>";
}

#tinymce hyph::after, #tinymce tei\:hyph::after {
  content: "</hyph>";
}

#tinymce row::before, #tinymce tei\:row::before {
  content: "<row>";
}

#tinymce row::after, #tinymce tei\:row::after {
  content: "</row>";
}

#tinymce code::before, #tinymce tei\:code::before {
  content: "<code>";
}

#tinymce code::after, #tinymce tei\:code::after {
  content: "</code>";
}

#tinymce binaryObject::before, #tinymce tei\:binaryObject::before {
  content: "<binaryObject>";
}

#tinymce binaryObject::after, #tinymce tei\:binaryObject::after {
  content: "</binaryObject>";
}

#tinymce profileDesc::before, #tinymce tei\:profileDesc::before {
  content: "<profileDesc>";
}

#tinymce profileDesc::after, #tinymce tei\:profileDesc::after {
  content: "</profileDesc>";
}

#tinymce history::before, #tinymce tei\:history::before {
  content: "<history>";
}

#tinymce history::after, #tinymce tei\:history::after {
  content: "</history>";
}

#tinymce classDecl::before, #tinymce tei\:classDecl::before {
  content: "<classDecl>";
}

#tinymce classDecl::after, #tinymce tei\:classDecl::after {
  content: "</classDecl>";
}

#tinymce val::before, #tinymce tei\:val::before {
  content: "<val>";
}

#tinymce val::after, #tinymce tei\:val::after {
  content: "</val>";
}

#tinymce numeric::before, #tinymce tei\:numeric::before {
  content: "<numeric>";
}

#tinymce numeric::after, #tinymce tei\:numeric::after {
  content: "</numeric>";
}

#tinymce langKnowledge::before, #tinymce tei\:langKnowledge::before {
  content: "<langKnowledge>";
}

#tinymce langKnowledge::after, #tinymce tei\:langKnowledge::after {
  content: "</langKnowledge>";
}

#tinymce listApp::before, #tinymce tei\:listApp::before {
  content: "<listApp>";
}

#tinymce listApp::after, #tinymce tei\:listApp::after {
  content: "</listApp>";
}

#tinymce eg::before, #tinymce tei\:eg::before {
  content: "<eg>";
}

#tinymce eg::after, #tinymce tei\:eg::after {
  content: "</eg>";
}

#tinymce origin::before, #tinymce tei\:origin::before {
  content: "<origin>";
}

#tinymce origin::after, #tinymce tei\:origin::after {
  content: "</origin>";
}

#tinymce per::before, #tinymce tei\:per::before {
  content: "<per>";
}

#tinymce per::after, #tinymce tei\:per::after {
  content: "</per>";
}

#tinymce objectDesc::before, #tinymce tei\:objectDesc::before {
  content: "<objectDesc>";
}

#tinymce objectDesc::after, #tinymce tei\:objectDesc::after {
  content: "</objectDesc>";
}

#tinymce surrogates::before, #tinymce tei\:surrogates::before {
  content: "<surrogates>";
}

#tinymce surrogates::after, #tinymce tei\:surrogates::after {
  content: "</surrogates>";
}

#tinymce person::before, #tinymce tei\:person::before {
  content: "<person>";
}

#tinymce person::after, #tinymce tei\:person::after {
  content: "</person>";
}

#tinymce fsdLink::before, #tinymce tei\:fsdLink::before {
  content: "<fsdLink>";
}

#tinymce fsdLink::after, #tinymce tei\:fsdLink::after {
  content: "</fsdLink>";
}

#tinymce specGrp::before, #tinymce tei\:specGrp::before {
  content: "<specGrp>";
}

#tinymce specGrp::after, #tinymce tei\:specGrp::after {
  content: "</specGrp>";
}

#tinymce series::before, #tinymce tei\:series::before {
  content: "<series>";
}

#tinymce series::after, #tinymce tei\:series::after {
  content: "</series>";
}

#tinymce org::before, #tinymce tei\:org::before {
  content: "<org>";
}

#tinymce org::after, #tinymce tei\:org::after {
  content: "</org>";
}

#tinymce valItem::before, #tinymce tei\:valItem::before {
  content: "<valItem>";
}

#tinymce valItem::after, #tinymce tei\:valItem::after {
  content: "</valItem>";
}

#tinymce syll::before, #tinymce tei\:syll::before {
  content: "<syll>";
}

#tinymce syll::after, #tinymce tei\:syll::after {
  content: "</syll>";
}

#tinymce fDescr::before, #tinymce tei\:fDescr::before {
  content: "<fDescr>";
}

#tinymce fDescr::after, #tinymce tei\:fDescr::after {
  content: "</fDescr>";
}

#tinymce constitution::before, #tinymce tei\:constitution::before {
  content: "<constitution>";
}

#tinymce constitution::after, #tinymce tei\:constitution::after {
  content: "</constitution>";
}

#tinymce watermark::before, #tinymce tei\:watermark::before {
  content: "<watermark>";
}

#tinymce watermark::after, #tinymce tei\:watermark::after {
  content: "</watermark>";
}

#tinymce usg::before, #tinymce tei\:usg::before {
  content: "<usg>";
}

#tinymce usg::after, #tinymce tei\:usg::after {
  content: "</usg>";
}

#tinymce line::before, #tinymce tei\:line::before {
  content: "<line>";
}

#tinymce line::after, #tinymce tei\:line::after {
  content: "</line>";
}

#tinymce entry::before, #tinymce tei\:entry::before {
  content: "<entry>";
}

#tinymce entry::after, #tinymce tei\:entry::after {
  content: "</entry>";
}

#tinymce re::before, #tinymce tei\:re::before {
  content: "<re>";
}

#tinymce re::after, #tinymce tei\:re::after {
  content: "</re>";
}

#tinymce sponsor::before, #tinymce tei\:sponsor::before {
  content: "<sponsor>";
}

#tinymce sponsor::after, #tinymce tei\:sponsor::after {
  content: "</sponsor>";
}

#tinymce list::before, #tinymce tei\:list::before {
  content: "<list>";
}

#tinymce list::after, #tinymce tei\:list::after {
  content: "</list>";
}

#tinymce epilogue::before, #tinymce tei\:epilogue::before {
  content: "<epilogue>";
}

#tinymce epilogue::after, #tinymce tei\:epilogue::after {
  content: "</epilogue>";
}

#tinymce binary::before, #tinymce tei\:binary::before {
  content: "<binary>";
}

#tinymce binary::after, #tinymce tei\:binary::after {
  content: "</binary>";
}

#tinymce binding::before, #tinymce tei\:binding::before {
  content: "<binding>";
}

#tinymce binding::after, #tinymce tei\:binding::after {
  content: "</binding>";
}

#tinymce forest::before, #tinymce tei\:forest::before {
  content: "<forest>";
}

#tinymce forest::after, #tinymce tei\:forest::after {
  content: "</forest>";
}

#tinymce listOrg::before, #tinymce tei\:listOrg::before {
  content: "<listOrg>";
}

#tinymce listOrg::after, #tinymce tei\:listOrg::after {
  content: "</listOrg>";
}

#tinymce collation::before, #tinymce tei\:collation::before {
  content: "<collation>";
}

#tinymce collation::after, #tinymce tei\:collation::after {
  content: "</collation>";
}

#tinymce iff::before, #tinymce tei\:iff::before {
  content: "<iff>";
}

#tinymce iff::after, #tinymce tei\:iff::after {
  content: "</iff>";
}

#tinymce g::before, #tinymce tei\:g::before {
  content: "<g>";
}

#tinymce g::after, #tinymce tei\:g::after {
  content: "</g>";
}

#tinymce listPerson::before, #tinymce tei\:listPerson::before {
  content: "<listPerson>";
}

#tinymce listPerson::after, #tinymce tei\:listPerson::after {
  content: "</listPerson>";
}

#tinymce punctuation::before, #tinymce tei\:punctuation::before {
  content: "<punctuation>";
}

#tinymce punctuation::after, #tinymce tei\:punctuation::after {
  content: "</punctuation>";
}

#tinymce f::before, #tinymce tei\:f::before {
  content: "<f>";
}

#tinymce f::after, #tinymce tei\:f::after {
  content: "</f>";
}

#tinymce schemaRef::before, #tinymce tei\:schemaRef::before {
  content: "<schemaRef>";
}

#tinymce schemaRef::after, #tinymce tei\:schemaRef::after {
  content: "</schemaRef>";
}

#tinymce correspAction::before, #tinymce tei\:correspAction::before {
  content: "<correspAction>";
}

#tinymce correspAction::after, #tinymce tei\:correspAction::after {
  content: "</correspAction>";
}

#tinymce street::before, #tinymce tei\:street::before {
  content: "<street>";
}

#tinymce street::after, #tinymce tei\:street::after {
  content: "</street>";
}

#tinymce fs::before, #tinymce tei\:fs::before {
  content: "<fs>";
}

#tinymce fs::after, #tinymce tei\:fs::after {
  content: "</fs>";
}

#tinymce event::before, #tinymce tei\:event::before {
  content: "<event>";
}

#tinymce event::after, #tinymce tei\:event::after {
  content: "</event>";
}

#tinymce msFrag::before, #tinymce tei\:msFrag::before {
  content: "<msFrag>";
}

#tinymce msFrag::after, #tinymce tei\:msFrag::after {
  content: "</msFrag>";
}

#tinymce vColl::before, #tinymce tei\:vColl::before {
  content: "<vColl>";
}

#tinymce vColl::after, #tinymce tei\:vColl::after {
  content: "</vColl>";
}

#tinymce retrace::before, #tinymce tei\:retrace::before {
  content: "<retrace>";
}

#tinymce retrace::after, #tinymce tei\:retrace::after {
  content: "</retrace>";
}

#tinymce meeting::before, #tinymce tei\:meeting::before {
  content: "<meeting>";
}

#tinymce meeting::after, #tinymce tei\:meeting::after {
  content: "</meeting>";
}

#tinymce condition::before, #tinymce tei\:condition::before {
  content: "<condition>";
}

#tinymce condition::after, #tinymce tei\:condition::after {
  content: "</condition>";
}

#tinymce param::before, #tinymce tei\:param::before {
  content: "<param>";
}

#tinymce param::after, #tinymce tei\:param::after {
  content: "</param>";
}

#tinymce castItem::before, #tinymce tei\:castItem::before {
  content: "<castItem>";
}

#tinymce castItem::after, #tinymce tei\:castItem::after {
  content: "</castItem>";
}

#tinymce iType::before, #tinymce tei\:iType::before {
  content: "<iType>";
}

#tinymce iType::after, #tinymce tei\:iType::after {
  content: "</iType>";
}

#tinymce handNotes::before, #tinymce tei\:handNotes::before {
  content: "<handNotes>";
}

#tinymce handNotes::after, #tinymce tei\:handNotes::after {
  content: "</handNotes>";
}

#tinymce docImprint::before, #tinymce tei\:docImprint::before {
  content: "<docImprint>";
}

#tinymce docImprint::after, #tinymce tei\:docImprint::after {
  content: "</docImprint>";
}

#tinymce seg::before, #tinymce tei\:seg::before {
  content: "<seg>";
}

#tinymce seg::after, #tinymce tei\:seg::after {
  content: "</seg>";
}

#tinymce timeline::before, #tinymce tei\:timeline::before {
  content: "<timeline>";
}

#tinymce timeline::after, #tinymce tei\:timeline::after {
  content: "</timeline>";
}

#tinymce subst::before, #tinymce tei\:subst::before {
  content: "<subst>";
}

#tinymce subst::after, #tinymce tei\:subst::after {
  content: "</subst>";
}

#tinymce title::before, #tinymce tei\:title::before {
  content: "<title>";
}

#tinymce title::after, #tinymce tei\:title::after {
  content: "</title>";
}

#tinymce exemplum::before, #tinymce tei\:exemplum::before {
  content: "<exemplum>";
}

#tinymce exemplum::after, #tinymce tei\:exemplum::after {
  content: "</exemplum>";
}

#tinymce classCode::before, #tinymce tei\:classCode::before {
  content: "<classCode>";
}

#tinymce classCode::after, #tinymce tei\:classCode::after {
  content: "</classCode>";
}

#tinymce genName::before, #tinymce tei\:genName::before {
  content: "<genName>";
}

#tinymce genName::after, #tinymce tei\:genName::after {
  content: "</genName>";
}

#tinymce number::before, #tinymce tei\:number::before {
  content: "<number>";
}

#tinymce number::after, #tinymce tei\:number::after {
  content: "</number>";
}

#tinymce tagUsage::before, #tinymce tei\:tagUsage::before {
  content: "<tagUsage>";
}

#tinymce tagUsage::after, #tinymce tei\:tagUsage::after {
  content: "</tagUsage>";
}

#tinymce population::before, #tinymce tei\:population::before {
  content: "<population>";
}

#tinymce population::after, #tinymce tei\:population::after {
  content: "</population>";
}

#tinymce cond::before, #tinymce tei\:cond::before {
  content: "<cond>";
}

#tinymce cond::after, #tinymce tei\:cond::after {
  content: "</cond>";
}

#tinymce interp::before, #tinymce tei\:interp::before {
  content: "<interp>";
}

#tinymce interp::after, #tinymce tei\:interp::after {
  content: "</interp>";
}

#tinymce application::before, #tinymce tei\:application::before {
  content: "<application>";
}

#tinymce application::after, #tinymce tei\:application::after {
  content: "</application>";
}

#tinymce locus::before, #tinymce tei\:locus::before {
  content: "<locus>";
}

#tinymce locus::after, #tinymce tei\:locus::after {
  content: "</locus>";
}

#tinymce spanGrp::before, #tinymce tei\:spanGrp::before {
  content: "<spanGrp>";
}

#tinymce spanGrp::after, #tinymce tei\:spanGrp::after {
  content: "</spanGrp>";
}

#tinymce symbol::before, #tinymce tei\:symbol::before {
  content: "<symbol>";
}

#tinymce symbol::after, #tinymce tei\:symbol::after {
  content: "</symbol>";
}

#tinymce origDate::before, #tinymce tei\:origDate::before {
  content: "<origDate>";
}

#tinymce origDate::after, #tinymce tei\:origDate::after {
  content: "</origDate>";
}

#tinymce ident::before, #tinymce tei\:ident::before {
  content: "<ident>";
}

#tinymce ident::after, #tinymce tei\:ident::after {
  content: "</ident>";
}

#tinymce support::before, #tinymce tei\:support::before {
  content: "<support>";
}

#tinymce support::after, #tinymce tei\:support::after {
  content: "</support>";
}

#tinymce institution::before, #tinymce tei\:institution::before {
  content: "<institution>";
}

#tinymce institution::after, #tinymce tei\:institution::after {
  content: "</institution>";
}

#tinymce wit::before, #tinymce tei\:wit::before {
  content: "<wit>";
}

#tinymce wit::after, #tinymce tei\:wit::after {
  content: "</wit>";
}

#tinymce sound::before, #tinymce tei\:sound::before {
  content: "<sound>";
}

#tinymce sound::after, #tinymce tei\:sound::after {
  content: "</sound>";
}

#tinymce decoDesc::before, #tinymce tei\:decoDesc::before {
  content: "<decoDesc>";
}

#tinymce decoDesc::after, #tinymce tei\:decoDesc::after {
  content: "</decoDesc>";
}

#tinymce move::before, #tinymce tei\:move::before {
  content: "<move>";
}

#tinymce move::after, #tinymce tei\:move::after {
  content: "</move>";
}

#tinymce styleDefDecl::before, #tinymce tei\:styleDefDecl::before {
  content: "<styleDefDecl>";
}

#tinymce styleDefDecl::after, #tinymce tei\:styleDefDecl::after {
  content: "</styleDefDecl>";
}

#tinymce salute::before, #tinymce tei\:salute::before {
  content: "<salute>";
}

#tinymce salute::after, #tinymce tei\:salute::after {
  content: "</salute>";
}

#tinymce group::before, #tinymce tei\:group::before {
  content: "<group>";
}

#tinymce group::after, #tinymce tei\:group::after {
  content: "</group>";
}

#tinymce join::before, #tinymce tei\:join::before {
  content: "<join>";
}

#tinymce join::after, #tinymce tei\:join::after {
  content: "</join>";
}

#tinymce email::before, #tinymce tei\:email::before {
  content: "<email>";
}

#tinymce email::after, #tinymce tei\:email::after {
  content: "</email>";
}

#tinymce edition::before, #tinymce tei\:edition::before {
  content: "<edition>";
}

#tinymce edition::after, #tinymce tei\:edition::after {
  content: "</edition>";
}

#tinymce persName::before, #tinymce tei\:persName::before {
  content: "<persName>";
}

#tinymce persName::after, #tinymce tei\:persName::after {
  content: "</persName>";
}

#tinymce msItemStruct::before, #tinymce tei\:msItemStruct::before {
  content: "<msItemStruct>";
}

#tinymce msItemStruct::after, #tinymce tei\:msItemStruct::after {
  content: "</msItemStruct>";
}

#tinymce certainty::before, #tinymce tei\:certainty::before {
  content: "<certainty>";
}

#tinymce certainty::after, #tinymce tei\:certainty::after {
  content: "</certainty>";
}

#tinymce c::before, #tinymce tei\:c::before {
  content: "<c>";
}

#tinymce c::after, #tinymce tei\:c::after {
  content: "</c>";
}

#tinymce editorialDecl::before, #tinymce tei\:editorialDecl::before {
  content: "<editorialDecl>";
}

#tinymce editorialDecl::after, #tinymce tei\:editorialDecl::after {
  content: "</editorialDecl>";
}

#tinymce rs::before, #tinymce tei\:rs::before {
  content: "<rs>";
}

#tinymce rs::after, #tinymce tei\:rs::after {
  content: "</rs>";
}

#tinymce dataFacet::before, #tinymce tei\:dataFacet::before {
  content: "<dataFacet>";
}

#tinymce dataFacet::after, #tinymce tei\:dataFacet::after {
  content: "</dataFacet>";
}

#tinymce view::before, #tinymce tei\:view::before {
  content: "<view>";
}

#tinymce view::after, #tinymce tei\:view::after {
  content: "</view>";
}

#tinymce space::before, #tinymce tei\:space::before {
  content: "<space>";
}

#tinymce space::after, #tinymce tei\:space::after {
  content: "</space>";
}

#tinymce del, #tinymce tei\:del {
  text-decoration: none;
}
