{% macro mediaURL(media) %}
  {% if media.url is not null and media.iiifServer is null %}
    {{ asset('project_files/' ~ media.project.id ~ '/' ~ media.url) }}
  {% elseif media.iiifServer is not null %}
    {{ media.iiifServer.url ~ media.url ~ media.iiifServer.suffixLarge }}
  {% else %}
    {{ asset('img/media_placeholder.jpg') }}
  {% endif %}
{% endmacro %}

{% macro mediaThumbnailURL(media) %}
  {% if media.url is not null and media.iiifServer is null %}
    {{ asset('project_files/' ~ media.project.id ~ '/thumbnails/' ~ media.url) }}
  {% elseif media.iiifServer is not null %}
    {{ media.iiifServer.url ~ media.url ~ media.iiifServer.suffixThumbnail}}
  {% else %}
    {{ asset('img/media_placeholder.jpg') }}
  {% endif %}
{% endmacro %}

{% macro backToParentDir(media) %}
<a class="btn btn-sm btn-secondary" href="{{ path('project_transcriptions', {id: media.project.id, parent: media.parent ? media.parent.id : null})}}" data-toggle="tooltip" title="{{'back_to_transcripts' | trans}}" data-step="14" data-intro="{{'help_backtoparentdir'|trans}}">
  <i class="fa fa-arrow-left fa-fw"></i>
</a>
{% endmacro %}

{% macro projectTree(dir, project, current) %}
    <li class="list-group-item d-flex justify-content-between align-items-center {{current is not null and dir.id == current.id ? 'list-group-item-secondary':''}} tree-entry">
      <a id="dir-{{dir.id}}-name" class="text-dark" href="{{ path('project_media', {id: project.id, current: dir.id}) }}">
        <i class="fas fa-folder fa-fw"></i><span id="dir-{{dir.id}}-name-value">{{dir.name}}</span>
      </a>
      <input class="form-control form-control-sm" id="dir-{{dir.id}}-name-input" type="text" style="display:none;" name="" value="{{dir.name}}">
      <div class="d-flex justify-content-between align-items-center">
        <div id="dir-{{dir.id}}-edit-actions" class="btn-group">
          <div class="form-check">
            <input type="checkbox" name="folder-select" data-id="{{dir.id}}" class="form-check-input folder-check">
            <label class="form-check-label"></label>
          </div>
          <button id="dir-{{dir.id}}-name-edit-btn" data-id="{{dir.id}}" class="btn btn-link btn-folder-name-edit btn-link-no-padding black" type="button" role="button"><i class="fas fa-pencil-alt"></i></button>
        </div>
        <button id="dir-{{dir.id}}-name-update-btn" style="display:none;" data-pid="{{project.id}}" data-id="{{dir.id}}" class="btn btn-link btn-folder-name-save" type="button" role="button"><i class="fa fa-save"></i></button>
      </div>
    </li>
    {% if dir.children|length > 0 %}
        {% import _self as treeMacro %}
        <ul data-dir-parent="{{dir.id}}" class="list-group list-group-flush tree-inner-list">
          {% for child in dir.children %}
             {{ treeMacro.projectTree(child, project, current) }}
          {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
