{% extends "base.html.twig" %}

{% import "user/macros.html.twig" as macros %}
{% import "project/macros.html.twig" as pmacros %}

{% block body %}
  {% set userStatus = app.user|status(project) %}

  {% include 'project/navigation.html.twig' with {'current': ''} %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active {{ project.image ? "carousel-custom" }}" style="{{ project.image ? 'background-image: url(' ~ asset('project_files/'~project.id~'/'~project.image) ~ ')' }}">
      </div>
    </div>
  </div>
  <div id="catchphrase-container">
    <span id="catchphrase">{{ project.catchPhrase }}</span>
  </div>
  <div id="main-container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-body">
            {% if not project.archived %}
            <div class="alert alert-info" role="alert">
              {% if not app.user %}
              {{ "login_or_register_link"|trans({'%login%': path('user_login'), '%register%':path('user_login')  }) | raw }}
              {% else %}
              {% if not userStatus %}
              {{ "project_register_link"| trans({'%register%': path('status_request', {id: project.id}) }) | raw }}
              {% else %}
              {% if not userStatus.enabled %}
              {{"registration_waiting_for_validation"|trans}}
              {% else %}
              {{"transcribe_link"| trans({'%transcribe%': path('project_transcriptions', {id: project.id})}) | raw }}
              {% endif %}
              {% endif %}
              {% endif %}
            </div>
            {% endif %}
            {{ project.description | raw }}
          </div>
        </div>

      {% if comments and (not project.archived and app.user and userStatus and userStatus.enabled) %}
      <div class="card mt-2">
        <div class="card-header">
          {{"comments"|trans}}
        </div>
          <ul class="list-group list-group-flush">
          {% for comment in comments %}
          <li class="list-group-item">
            {{ comment.content }}
            <span class="float-right">
              <small>
                <a target="_blank" href="{{ path('media_transcription_display', {'id': comment.transcription.media.id}) }}">
                  {{comment.transcription.media.name}}
                </a>
                -
                {{ comment.createdAt|date("d/m/Y H:i") }}
                -
                <a target="_blank" href="{{ path('user_profile', {'id': comment.user.id}) }}">
                  {{ comment.user.username }}
                </a>
              </small>
            </span>
          </li>
          {% endfor %}
          </ul>
      </div>
      {% endif %}
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">

          <div class="card">
            <div class="card-header">
              <i class="fas fa-chart-bar"></i> {{'project_data'|trans}}
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                 {{ project.public ? 'is_public'|trans : 'project_is_not_public'|trans}}
               </li>
               <li class="list-group-item">
                 {{"project_media_count"|trans({'%count%': project.medias|length})}}
               </li>
               <li class="list-group-item">
                 {% set percents = project|percents %}
                 {{ pmacros.displayPercents(percents) }}
              </li>
            </ul>
          </div>

          {% if userStatus and project | isAuthorizedOnProject('validateTranscription') %}
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-justify">
                {% if userStatus.subscribe == true %}
                  {{"subscribed"|trans|raw}} <a href='{{ path('status_subscribe_toggle', {'id': project.id}) }}'>{{"unsubscribe"|trans}}</a>
                {% else %}
                  {{"unsubscribed"|trans|raw}} <a href='{{ path('status_subscribe_toggle', {'id': project.id}) }}'>{{"subscribe"|trans}}</a>
                {% endif %}
              </li>
              {% if project | isAuthorizedOnProject('manageUser') %}
              <li class="list-group-item text-justify">
                {% if userStatus.subscribeRegistration == true %}
                  {{"subscribed_registration"|trans|raw}} <a href='{{ path('status_subscribe_registration_toggle', {'id': project.id}) }}'>{{"unsubscribe"|trans}}</a>
                {% else %}
                  {{"unsubscribed_registration"|trans|raw}} <a href='{{ path('status_subscribe_registration_toggle', {'id': project.id}) }}'>{{"subscribe"|trans}}</a>
                {% endif %}
              </li>
              {% endif %}
            </ul>
          </div>
          {% endif %}

        <div class="mt-3">
          {% include('transcribe/contributors.html.twig') %}
        </div>

      </div>
    </div>
  </div>

{% endblock %}
