{% import _self as macros %}

{% macro addActiveClass(current, tested ) %}
   {{ current == tested ? "active" : "" }}
{% endmacro %}

<nav id="secondary-nav" class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="{{ path("project_display", {'id': project.id}) }}">
    {{ project.name }}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondNavbarNavDropdown" aria-controls="secondNavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <span class="navbar-brand text-muted">{% if subtitle is defined %}({{ subtitle|trans }}){% endif %}</span>

  <div class="collapse navbar-collapse" id="secondNavbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      {% if project | isAuthorizedOnProject('register') %}
        <a href="{{ path('status_request', {id: project.id})}}" class="nav-link text-dark" data-toggle="tooltip" data-placement="top" title="{{"subscribe_long"|trans}}">
          <mark class="rounded">
            <i class="fas fa-hands-helping"></i> {{'project_register_short' | trans}}
          </mark>
        </a>
      {% endif %}

      {% if project.projectHelpLink %}
        <a download class="nav-link" href="{{ asset('project_files/' ~ project.id ~ '/' ~ project.projectHelpLink) }}" data-step="16" data-intro="{{'help_transcr_guide'|trans}}">
          <i class="fas fa-book"></i> <span class="d-none d-lg-inline">{{'transcript_help_doc'|trans}}<span>
        </a>
      {% endif %}

      <a data-intro="{{'help13'|trans}}" data-step="15" download href="{{asset('platform/manuel_contributeur.pdf')}}" class="nav-link" >
        <i class="fas fa-book-open"></i> <span class="d-none d-lg-inline">{{"contributor_guide"|trans}}<span>
      </a>

      {% if project | isAuthorizedOnProject('transcribe') %}
        <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link {{macros.addActiveClass(current, "project_transcriptions")}}" data-toggle="tooltip" data-placement="top" title="{{"transcribe_long"|trans}}">
          {{'project_transcript'|trans }}
        </a>
      {% elseif project | isAuthorizedOnProject('viewTranscriptions') %}
        <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link {{macros.addActiveClass(current, "project_transcriptions")}}" data-toggle="tooltip" data-placement="top" title="{{"view_transcriptions_long"|trans}}">
          {{'project_view_transciptions'|trans }}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('editProject') %}
        <a href="{{ path('project_edit_choice', {id: project.id}) }}" class="nav-link {{macros.addActiveClass(current, "project_edit")}}" data-toggle="tooltip" data-placement="top" title="{{"project_manage_long"|trans}}">
          {{'project_manage' | trans}}
        </a>
      {% endif %}
    </ul>
  </div>
</nav>
