<div class="row mt-3">
  <div class="col text-center">

    <a id="start-tutorial" class="btn btn-block btn-outline-secondary" href="#" data-dismiss="modal">
      <i class="fas fa-magic"></i> {{'tutorial_enable'|trans}}
    </a>
    {% if project.projectHelpLink %}
      <a download class="btn btn-block btn-outline-secondary" href="{{ asset('project_files/' ~ project.id ~ '/' ~ project.projectHelpLink) }}">
        <i class="fas fa-book"></i> {{'transcript_help_doc'|trans}}
      </a>
    {% endif %}

    <a download class="btn btn-block btn-outline-secondary" href="{{asset('platform/manuel_contributeur.pdf')}}">
      <i class="fas fa-book"></i> {{"contributor_guide"|trans}}
    </a>

  </div>
</div>
