{% set canValidate = media.project | isAuthorizedOnProject('validateTranscription') %}
{% set canViewLogs = media.project | isAuthorizedOnProject('viewLogs') %}
{% set transcription = media.transcription %}
{% set request = transcription.reviewRequest %}
{% set comments = transcription.comments %}

<ul class="nav nav-tabs nav-fill">
  {% if edit %}
  <li class="nav-item">
    <a data-intro="{{'help4'|trans}}" data-step="4" class="nav-link active" data-position="top" data-toggle="tab" href="#edit-full">{{'transcribe'|trans}}</a>
  </li>
  {% endif %}
  <li class="nav-item" data-intro="{{'help5'|trans}}" data-step="5">
    <a class="nav-link {% if not edit %}active{% endif %}" data-toggle="tab"  href="#preview">{{'preview'|trans}}</a>
  </li>

  <li class="nav-item" data-intro="{{'help6'|trans}}" data-step="6">
    <a class="nav-link" data-toggle="tab"  href="#comments">{{'comments'|trans}} ({{comments|length}})</a>
  </li>
  {% if canValidate and request %}
  <li class="nav-item" data-intro="{{'help7'|trans}}" data-step="7">
    <a class="nav-link" data-toggle="tab"  href="#reviews">{{'reviews'|trans}}</a>
  </li>
  {% endif %}

  <li class="nav-item" data-intro="{{'help8'|trans}}" data-step="8">
    <a class="nav-link" data-toggle="tab" href="#help-full">{{'help'|trans}}</a>
  </li>

  {% if canViewLogs %}
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  href="#logs">{{'logs'|trans}}</a>
  </li>
  {% endif %}
</ul>
<div class="tab-content transcription-panel-content">

  {# TINY MCE #}
  {% if edit %}
  <div id="edit-full" class="tab-pane fade show active" role="tabpanel">
    <div class="row">
      <div class="col">
        <textarea class="tinymce-transcription" id="tiny-content" name="transcription-content" rows="20" cols="60">
          {{ transcription.content | raw }}
        </textarea>
      </div>
      {% if project|hasScheme %}
        {{ include('transcribe/elements-attributes.html.twig') }}
      {% endif %}
    </div>
  </div>
  <input type="hidden" id="tei-schema" name="tei_schema" value="{{schema}}">
  {% endif %}

  {# PREVISUALISATION #}
  <div id="preview" class="tab-pane fade {% if not edit %}show active{% endif %}" role="tabpanel">
    {{ transcription.content | raw}}
  </div>

  {# COMMENTAIRES #}
  <div id="comments" class="tab-pane fade" role="tabpanel">
    {% if app.user %}
      {{ include('comments/create.html.twig') }}
    {% endif %}
    {{ include('comments/list.html.twig') }}
  </div>

  {# AIDE #}
  <div id="help-full" class="tab-pane fade" role="tabpanel">
    {{ include ('transcribe/help.html.twig') }}
  </div>

  {# REVIEWS #}
  {% if canValidate and request %}
    <div id="reviews" class="tab-pane fade" role="tabpanel">
      {{ include('review/list.html.twig') }}
    </div>
  {% endif %}

  {# LOGS #}
  {% if canValidate %}
  <div id="logs" class="tab-pane fade" role="tabpanel">
    {{ include('log/list.html.twig') }}
  </div>
  {% endif %}
</div>

<div class="mt-5">
  {{ include('transcribe/contributors.html.twig') }}
</div>
